body{
	direction: ltr;
}

.column__mobile, .column__tablet, .column__desktop, [class^="column__mobile"], [class^="column__tablet"], [class^="column__desktop"]{
	float: left;
}
.accent-link_en{
	position: relative;
	display: table;
	color: #005fb3;
	margin-top: 2.5rem;
	padding-right: .125rem;
	&:before{
	content: '';
    position: absolute;
    top: -.5rem;
    right: 50%;
    left: 0;
    height: 1px;
    background-color: rgba(0,0,0,0.15);
	}
}
.global--header-nav .hero--logo_en * {
    display: inline-block;
    vertical-align: top;
    margin-left: .3rem;
}
// .btn-transparent_en{
//     margin-left: 0; !important
// }
.btn-inline_en {
    display: inline-block;
    font-size: 1rem;
    padding: 0 3px;
    margin-left: 0.75rem;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0,0,0,0.15);
    vertical-align: sub;
}
.svg--icon_en {
    display: inline-block;
    vertical-align: bottom;
    margin-left: .35em;
    margin-right: 0.7rem;
}
.global--footer-section_nav-list_en{
	list-style: none;
	margin: 0;
	 li:before {

	    content: '';
	    display: inline-block;
	    vertical-align: middle;
	    width: 4px;
	    height: 4px;
	    border-radius: 2px;
	    margin-right: 9px;
	    background-color: #757575;
	}
}
.btn.small_en {
    min-width: 3rem;
    font-size: .9rem;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: .5rem;
}
.input_en {
    direction: ltr !important;
}

///contact-en

.input__en {
    position: relative;
    display: inline-block;
    font-family: "iransans",Helvetica,Geneva,Verdana,sans-serif;
    font-weight: 200;
    font-size: 13px;
    line-height: 2;
    width: 100%;
    padding: 6px 12px;
    background-color: #fff;
    border: 0;
    box-shadow: 0px 1px 3px rgba(189,189,189,0.2);
    border-radius: 2px;
    vertical-align: middle;
    letter-spacing: -.01em;
    direction: ltr;
    resize: none;
    -webkit-transition: border ease .2s, box-shadow ease-in-out .15s;
    transition: border ease .2s, box-shadow ease-in-out .15s;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    &.is-border {
    border: 1px solid #dbdbdb;
}
}
////terms-en
.section--content_en ol {
    list-style-type: english;
}



#en{
	.btn-transparent{
		margin-left: 0;
	}
}
