-if(index_en == true)
	.column__mobile-16.column__tablet-10
		.column_inner
			.ta-center
				ul.global--navigation_const-inline
					li
						a(href="#Hello-ZarinCard") ZarinCard
					li
						a(href="#Shetab-ZarinCard") Shetab and Shaparak
					li
						a(href="#Fees-ZarinCard") Fees
					li
						a(href="#Features-ZarinCard") Features
					

	.column__mobile-16.column__tablet-6
		.column_inner
			.ta-right.ta-right
				a.btn.btn-white.small.tiny.mobile-half(href="/auth/register") SignUp


-else
	.column__mobile-16.column__tablet-10
		.column_inner
			.ta-center
				ul.global--navigation_const-inline
					li
						a(href="#Hello-ZarinCard") زرین‌کارت
					li
						a(href="#Shetab-ZarinCard") شتاب و شاپرک
					li
						a(href="#Fees-ZarinCard") کارمزد
					li
						a(href="#Features-ZarinCard") قابليت ها
					//- li
						a(href="#") تهیه کارت

	.column__mobile-16.column__tablet-6
		.column_inner
			.ta-left.ta-right
				//- a.btn.btn-blue.small.tiny.mobile-half(href="#") دریافت زرین‌کارت
				a.btn.btn-white.small.tiny.mobile-half(href="/auth/register") ثبت نام
