//- 
//- 
//-  Gradients Definition:
//-  =====================
//-
//- 
- function getRandomArbitrary(min, max) { return Math.floor(Math.random() * (max - min + 1) + min); }
//- - var id = Math.floor(Math.random() * (3 - 0 + 1) + 0);
- var id = getRandomArbitrary(0, 3);
-if( index == true || zarincard == true || index_en == true || zarincard_en == true)
	- zarincard == true || zarincard_en == true ? id = 0 : id = 1
	//- - mobile == true ? id = 3 : '';
	- index_en1 == true ? id = 3 : id = 0
	- index == true ? id = 3 : '';

	header.global--header(class='global--header_is-'+colors[id].step)
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--transparent(data-sticky=(zarincard == true || zarincard_en == true ? 'false' : 'true'))
				.wrap
					.row
						include menu.pug

		section.global--header__promocases(class=(mobile == true) ? 'min-padding' : '')
			.wrap
				-if( index == true )
					figure.global--header__promocases-item
						.row
							.column__mobile-16.column__tablet-8.column-inline.vertical-align_middle
								.column_inner
									figcaption
										h4.global--header__promocases-item_little منتشر شد،
										h3.global--header__promocases-item_title نسخه ۳ اپلیکیشن زرین‌پال
										p.global--header__promocases-item_praph هم اکنون میتوانید نسخه سوم اپلیکیشن زرین پال برای گوشی های اندوریدی را از مارکت گوگل پلی و کافه بازار دریافت کنید.
										nav.global--header__promocases-item_nav
											a.btn.btn-transparent.large(href="/app.html") دانلود
							.column__mobile-16.column__tablet-8.column-inline.vertical-align_middle
								.hero--vector
									.column_inner
										div(data-vector)
											img.data-vector_fullsize(src="/assets/img/svg/zarinpal.svg", alt="")
					
					//- figure.global--header__promocases-item
						.row
							.column__mobile-16.column__tablet-8.column-inline.vertical-align_middle
								.hero--vector
									.column_inner
										div(data-vector)
											img(src="/dist/img/svg/zarinpal-iwmf.svg", alt="")

							.column__mobile-16.column__tablet-8.column-inline.vertical-align_middle
								.column_inner
									figcaption
										h4.global--header__promocases-item_little همراهان عزیز،
										h3.global--header__promocases-item_title زرین‌پال، برترین سرویس خدمات مالی و بانکی
										p.global--header__promocases-item_praph
											| انتخاب زرین‌پال برای ۲ سال پیاپی به عنوان برنده بهترین سرویس خدمات مالی و بانکی را در جشنواره وب و موبایل ایران به شما تبریک می‌گوییم.
											//- br
											| خوشحالیم که شما را در کنارمان داریم و همراهیتان را با بهترین و نوآورانه ترین خدمات ارج می نهیم.
											//- | جدیدترین و بهترین نسخه زرین‌پال تا کنون را مشاهده می‌کنید. امیدواریم این تغییرات برای شما تجربه بهتری ایجاد کند.
											//- | جدیدترین و بهترین نسخه زرین‌پال در دست بروز رسانی است. امیدواریم تغییرات جدید به شما کمک کند تا به‌راحتی زرین‌پال را بشناسید.
										
										//- nav.global--header__promocases-item_nav
											a.btn.btn-transparent.large(href="#Hello-ZarinPal") زرین‌پال چیست؟
											//- a.btn.btn-white.large(href="#") دریافت اپلیکیشن
					//- .slider-nav
						span.arrow-prev
							i(class="fa fa-chevron-left") Left

						//- ul(class="slider-dots")

						span.arrow-next
							i(class="fa fa-chevron-right") Right


				-if( zarincard == true )
					figure.global--header__promocases-item
						.row
							.column__mobile-16.column__tablet-8
								.hero--vector
									.column_inner
										div(data-vector)
											img(src="/assets/img/tmp/generic-new.png", alt="" width="430")
							
							.column__mobile-16.column__tablet-8
								.column_inner
									figcaption
										h4.global--header__promocases-item_little زرین‌کارت
										h3.global--header__promocases-item_title کارتی از جنس زرین‌پال
										p.global--header__promocases-item_praph
											| زرين کارت يک کارت بانکی است که با لوگوی زرين پال در دسترس کاربران قرار ميگيرد. زرين کارت به نام کاربر صادر گرديده و اين کارت تمامی مولفه های کارت های شتابی از جمله، برداشت وجه از دستگاه خود پرداز، خريد از کارت خوان های شاپرک، خريد از درگاه های اينترنتی شاپرک را دارا مي باشد.
											//- | لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.
											//- | جدیدترین و بهترین نسخه زرین‌پال در دست بروز رسانی است. امیدواریم تغییرات جدید به شما کمک کند تا به‌راحتی زرین‌پال را بشناسید.
										nav.global--header__promocases-item_nav
											a.btn.btn-transparent.large(href="#Hello-ZarinCard") بیشتر بشناسید...
											//- a.btn.btn-white.large(href="./index.html") دریافت زرین‌کارت
											//- a.btn.btn-white.large(href="#") دریافت اپلیکیشن



				-if( zarincard_en == true )
					figure.global--header__promocases-item
						.row
							.column__mobile-16.column__tablet-8
								.hero--vector
									.column_inner
										div(data-vector)
											img(src="/assets/img/tmp/generic-new.png", alt="" width="430")
							
							.column__mobile-16.column__tablet-8
								.column_inner
									figcaption
										h4.global--header__promocases-item_little ZarinCard
										h3.global--header__promocases-item_title A Card of Zarinpal
										p.global--header__promocases-item_praph
											|Zarincard is a debit card with Zarinpal logo available to users.  Zarincard is issued in user’s name and has all elements of Shetab cards such as cash from ATMs, payment with Shaparak online gateways.
										nav.global--header__promocases-item_nav
											a.btn.btn-transparent.large(href="#Hello-ZarinCard") Learn More.
											//- a.btn.btn-white.large(href="./index.html") دریافت زرین‌کارت
											//- a.btn.btn-white.large(href="#") دریافت اپلیکیشن

				-if( index_en1 == true )
					figure.global--header__promocases-item
						.row
							.column__mobile-16.column__tablet-8.column-inline.vertical-align_middle
								.column_inner
									figcaption
										h4.global--header__promocases-item_little New Version
										h3.global--header__promocases-item_title A Big Evolution, New ZarinPal is Here!
										p.global--header__promocases-item_praph
											|Here is the latest and greatest version of ZarinPal ever. We hope these changes will bring you a better experience.
											//- | جدیدترین و بهترین نسخه زرین‌پال در دست بروز رسانی است. امیدواریم تغییرات جدید به شما کمک کند تا به‌راحتی زرین‌پال را بشناسید.
										nav.global--header__promocases-item_nav
											a.btn.btn-transparent.large(href="#Hello-ZarinPal") What is ZarinPal?
											//- a.btn.btn-white.large(href="#") دریافت اپلیکیشن

							.column__mobile-16.column__tablet-8.column-inline.vertical-align_middle
								.hero--vector
									.column_inner
										div(data-vector)
											img.data-vector_fullsize(src="/assets/img/svg/zarinpal.svg", alt="")
				
				//- -if( mobile_android == true )
				//- 	section.app-landing
				//- 		.row
				//- 			.column__mobile-16.column__tablet-5.column-inline.vertical-align_middle
				//- 				.column_inner
				//- 					figcaption
				//- 						h4.app-landing_little نرم‌افزار تلفن همراه زرین‌پال
				//- 						h3.app-landing_title اپلیکیشن تلفن‌همراه
				//- 						//- h3.app-landing_title اپلیکیشن اندروید 
				//- 						p.app-landing_praph
				//- 							| اپلیکیشن زرین‌پال را روی گوشی اندروید و iOS خود نصب کنید. پرداخت‌های خود را سریع‌تر و آسان‌تر کنید، کیف پول‌ها و کارت‌های بانکی خود را مدیریت کنید، قبض پرداخت کنید یا شارژ بخرید و شگفت‌انگیزتر از همه اینکه یک پرداخت اینترنتی در چند ثانیه داشته باشد! با اپلیکیشن رایگان زرین‌پال گوشی همراه شما می‌شود کیف پول الکترونیک و همراه شما.
							
				//- 			.column__mobile-16.column__tablet-6.column-inline.vertical-align_middle
				//- 				.hero--vector
				//- 					.column_inner
				//- 						div.mockup
				//- 							.mockup-body.android
				//- 								.hero--vector
				//- 									img.view(src="/assets/img/tmp/andorid-screen.png", alt="")
				//- 								//- p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.											
							
				//- 			.column__mobile-16.column__tablet-5.column-inline.vertical-align_middle
				//- 				.column_inner
				//- 					figcaption
				//- 						p.app-landing_praph.ta-center-firm یک کلیک تا ورود به دنیای زرین‌پال:
				//- 						nav.download--btns
				//- 							a.download--store_cafebazaar(href="https://cafebazaar.ir/app/com.zarinpal.ewallets/?l=fa" target="_blank")
				//- 								svg.vector-icon(viewbox="0 0 44 48")
				//- 									path(d="M28.472 12.194c.794 1.784 1.485 3.615 2.047 5.214 1.33.14 2.195.257 2.21.257.862.082 1.728.2 2.57.313 1.128.153 2.298.312 3.453.38 1.815.107 2.914-.262 3.548-1.196-.015-.04-.03-.077-.05-.118-.604-1.297-3.146-4.05-13.778-4.85zM21.717 1.02c-3.176 0-6.285 5.102-8.136 9.815.702-.072 1.44-.14 2.213-.19 1.686-3.59 3.76-6.625 5.924-6.625 2.155 0 4.27 3.02 6.017 6.59.794.05 1.552.112 2.274.18-1.928-4.693-5.12-9.77-8.29-9.77zM1.69 17.157c-.02.046-.025.087-.04.133.644.847 1.716 1.17 3.45 1.067 1.15-.067 2.314-.226 3.438-.38.84-.112 1.712-.23 2.568-.312.02-.005.804-.108 2.02-.236.532-1.596 1.192-3.42 1.955-5.2-10.47.856-12.858 3.625-13.39 4.927zm24.87-6.61c-1.553-3.102-3.275-5.507-4.843-5.507-1.572 0-3.253 2.42-4.754 5.528 1.542-.082 3.212-.128 5.033-.128h.056c1.62 0 3.115.04 4.507.108zm-4.508 1.426h-.05c-2.136 0-4.044.062-5.756.174-.737 1.693-1.407 3.492-1.985 5.17 2.146-.21 5.06-.437 7.67-.437 2.525 0 5.335.21 7.454.416-.603-1.682-1.314-3.482-2.078-5.18-1.582-.092-3.325-.143-5.254-.143zM.262 16.588c.872-2.133 3.81-4.58 12.17-5.625C13.58 7.927 17.03 0 21.716 0c4.677 0 8.25 7.89 9.446 10.912 8.45.994 11.51 3.394 12.484 5.486.407.877.366 1.544.335 1.764-.03.477-.397 5.205-2.197 11.445-1.645 5.733-4.383 12.127-6.24 14.558C34.093 46.062 31.35 48 22.002 48c-9.342 0-12.085-1.938-13.54-3.835-1.85-2.42-4.594-8.815-6.25-14.553C.423 23.377.057 18.654.02 18.162c-.03-.205-.067-.79.242-1.574z")
				//- 								|دانلود از کافه‌بازار
											
				//- 							a.download--store_playstore(href="https://play.google.com/store/apps/details?id=com.zarinpal.ewallets" target="_blank")
				//- 								svg.vector-icon(viewbox="0 0 43 48")
				//- 									path(d="M1.4 48C.553 47.77 0 46.923 0 45.612V2.332C0 1.116.468.297 1.21 0l21.153 24.12L1.4 48zm2.913-.92l25.462-14.51-6.2-7.07L4.312 47.08zM29.95 15.476L4.844 1.165 23.61 22.697l6.34-7.223zm1.704.97l9.836 5.607c1.862 1.062 1.88 2.773 0 3.844l-10.085 5.747-6.577-7.548 6.826-7.65z")
				//- 								|دانلود از پلی‌استور

				//- 							//- p.head-title دانلود نسخه iOS

				//- 							//- a.download--store_appstore(href="#")
				//- 								svg.vector-icon(viewBox="0 0 40 48")
				//- 									path(d="M38.948 37.244c-.71 1.656-1.55 3.18-2.525 4.583-1.327 1.912-2.414 3.234-3.252 3.97-1.298 1.205-2.69 1.823-4.18 1.858-1.068 0-2.358-.308-3.86-.93-1.506-.622-2.89-.93-4.156-.93-1.328 0-2.75.308-4.274.93-1.526.622-2.754.947-3.694.98-1.428.06-2.852-.574-4.274-1.91-.907-.798-2.042-2.168-3.4-4.108-1.46-2.072-2.66-4.475-3.598-7.215-1.006-2.96-1.51-5.824-1.51-8.598 0-3.178.68-5.92 2.04-8.215 1.072-1.846 2.496-3.3 4.278-4.37 1.782-1.068 3.708-1.612 5.782-1.647 1.135 0 2.623.354 4.472 1.05 1.844.7 3.028 1.054 3.547 1.054.39 0 1.704-.414 3.934-1.24 2.11-.767 3.888-1.084 5.346-.96 3.95.323 6.92 1.896 8.893 4.73-3.533 2.16-5.28 5.188-5.246 9.073.03 3.025 1.118 5.543 3.255 7.542.968.928 2.05 1.645 3.252 2.154-.26.764-.536 1.495-.83 2.198zM29.888 1.24c0 2.372-.86 4.586-2.57 6.636-2.063 2.436-4.56 3.844-7.266 3.622-.035-.285-.055-.584-.055-.9 0-2.275.982-4.712 2.725-6.704.87-1.008 1.977-1.847 3.32-2.516C27.38.718 28.645.355 29.837.292c.034.317.05.634.05.95z")
				//- 								| دانلود از اپ‌استور
				//- -if( mobile_android_en == true )
				//- 	section.app-landing
				//- 		.row
				//- 			.column__mobile-16.column__tablet-5.column-inline.vertical-align_middle
				//- 				.column_inner
				//- 					figcaption
				//- 						h4.app-landing_little ZarinPal Mobile Software
				//- 						h3.app-landing_title Mobile Application
				//- 						p.app-landing_praph
				//- 							|Install Zarinpal App on your Android and IOS device. Pay faster and easier, manage your eWallets and debit cards, pay bills or buy charges and the big surprise is that you can have an online payment in a few seconds! With the ZarinPal free application your mobile phone will be your eWallet and mobile wallet.
				//- 			.column__mobile-16.column__tablet-6.column-inline.vertical-align_middle
				//- 				.hero--vector
				//- 					.column_inner
				//- 						div.mockup
				//- 							.mockup-body.android
				//- 								.hero--vector
				//- 									img.view(src='/assets/img/tmp/andorid-screen.png')
							
				//- 			.column__mobile-16.column__tablet-5.column-inline.vertical-align_middle
				//- 				.column_inner
				//- 					figcaption
				//- 						p.app-landing_praph.ta-center-firm One click to enter the world of ZarinPal:
				//- 						nav.download--btns
				//- 							a.download--store_cafebazaar(href="https://cafebazaar.ir/app/com.zarinpal.ewallets/?l=fa" target="_blank")
				//- 								svg.vector-icon(viewbox="0 0 44 48")
				//- 									path(d="M28.472 12.194c.794 1.784 1.485 3.615 2.047 5.214 1.33.14 2.195.257 2.21.257.862.082 1.728.2 2.57.313 1.128.153 2.298.312 3.453.38 1.815.107 2.914-.262 3.548-1.196-.015-.04-.03-.077-.05-.118-.604-1.297-3.146-4.05-13.778-4.85zM21.717 1.02c-3.176 0-6.285 5.102-8.136 9.815.702-.072 1.44-.14 2.213-.19 1.686-3.59 3.76-6.625 5.924-6.625 2.155 0 4.27 3.02 6.017 6.59.794.05 1.552.112 2.274.18-1.928-4.693-5.12-9.77-8.29-9.77zM1.69 17.157c-.02.046-.025.087-.04.133.644.847 1.716 1.17 3.45 1.067 1.15-.067 2.314-.226 3.438-.38.84-.112 1.712-.23 2.568-.312.02-.005.804-.108 2.02-.236.532-1.596 1.192-3.42 1.955-5.2-10.47.856-12.858 3.625-13.39 4.927zm24.87-6.61c-1.553-3.102-3.275-5.507-4.843-5.507-1.572 0-3.253 2.42-4.754 5.528 1.542-.082 3.212-.128 5.033-.128h.056c1.62 0 3.115.04 4.507.108zm-4.508 1.426h-.05c-2.136 0-4.044.062-5.756.174-.737 1.693-1.407 3.492-1.985 5.17 2.146-.21 5.06-.437 7.67-.437 2.525 0 5.335.21 7.454.416-.603-1.682-1.314-3.482-2.078-5.18-1.582-.092-3.325-.143-5.254-.143zM.262 16.588c.872-2.133 3.81-4.58 12.17-5.625C13.58 7.927 17.03 0 21.716 0c4.677 0 8.25 7.89 9.446 10.912 8.45.994 11.51 3.394 12.484 5.486.407.877.366 1.544.335 1.764-.03.477-.397 5.205-2.197 11.445-1.645 5.733-4.383 12.127-6.24 14.558C34.093 46.062 31.35 48 22.002 48c-9.342 0-12.085-1.938-13.54-3.835-1.85-2.42-4.594-8.815-6.25-14.553C.423 23.377.057 18.654.02 18.162c-.03-.205-.067-.79.242-1.574z")
				//- 								|  Cafe Bazaar
											
				//- 							a.download--store_playstore(href="https://play.google.com/store/apps/details?id=com.zarinpal.ewallets" target="_blank")
				//- 								svg.vector-icon(viewbox="0 0 43 48")
				//- 									path(d="M1.4 48C.553 47.77 0 46.923 0 45.612V2.332C0 1.116.468.297 1.21 0l21.153 24.12L1.4 48zm2.913-.92l25.462-14.51-6.2-7.07L4.312 47.08zM29.95 15.476L4.844 1.165 23.61 22.697l6.34-7.223zm1.704.97l9.836 5.607c1.862 1.062 1.88 2.773 0 3.844l-10.085 5.747-6.577-7.548 6.826-7.65z")
				//- 								|  Play Store

-else if(mobile_en == true || mobile == true)
	- mobile == true ? id = 3 : '';
	-if( mobile_android == true )
		header.global--header(class='global--header_is-green--app')
			section.global--header-holder
				nav.global--sticky.global--header-nav.global--header-nav--transparent
					.wrap
						.row
							include menu.pug
			section.global--header__promocases(class=(mobile == true) ? 'min-padding' : '')
				.wrap
					section.app-landing
							.row
								.column__mobile-16.column__tablet-5.column-inline.vertical-align_middle
									.column_inner
										figcaption
											h4.app-landing_little نرم‌افزار تلفن همراه زرین‌پال
											h3.app-landing_title اپلیکیشن تلفن‌همراه
											//- h3.app-landing_title اپلیکیشن اندروید 
											p.app-landing_praph
												| اپلیکیشن زرین‌پال را روی گوشی اندروید و iOS خود نصب کنید. پرداخت‌های خود را سریع‌تر و آسان‌تر کنید، کیف پول‌ها و کارت‌های بانکی خود را مدیریت کنید، قبض پرداخت کنید یا شارژ بخرید و شگفت‌انگیزتر از همه اینکه یک پرداخت اینترنتی در چند ثانیه داشته باشد! با اپلیکیشن رایگان زرین‌پال گوشی همراه شما می‌شود کیف پول الکترونیک و همراه شما.
								
								.column__mobile-16.column__tablet-6.column-inline.vertical-align_middle
									.hero--vector
										.column_inner
											div.mockup
												.mockup-body.android
													.hero--vector
														img.view(src="/assets/img/tmp/andorid-screen.png", alt="")
													//- p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.											
								
								.column__mobile-16.column__tablet-5.column-inline.vertical-align_middle
									.column_inner
										figcaption
											p.app-landing_praph.ta-center-firm یک کلیک تا ورود به دنیای زرین‌پال:
											nav.download--btns
												a.download--store_cafebazaar(href="https://cafebazaar.ir/app/com.zarinpal.ewallets/?l=fa" target="_blank")
													svg.vector-icon(viewbox="0 0 44 48")
														path(d="M28.472 12.194c.794 1.784 1.485 3.615 2.047 5.214 1.33.14 2.195.257 2.21.257.862.082 1.728.2 2.57.313 1.128.153 2.298.312 3.453.38 1.815.107 2.914-.262 3.548-1.196-.015-.04-.03-.077-.05-.118-.604-1.297-3.146-4.05-13.778-4.85zM21.717 1.02c-3.176 0-6.285 5.102-8.136 9.815.702-.072 1.44-.14 2.213-.19 1.686-3.59 3.76-6.625 5.924-6.625 2.155 0 4.27 3.02 6.017 6.59.794.05 1.552.112 2.274.18-1.928-4.693-5.12-9.77-8.29-9.77zM1.69 17.157c-.02.046-.025.087-.04.133.644.847 1.716 1.17 3.45 1.067 1.15-.067 2.314-.226 3.438-.38.84-.112 1.712-.23 2.568-.312.02-.005.804-.108 2.02-.236.532-1.596 1.192-3.42 1.955-5.2-10.47.856-12.858 3.625-13.39 4.927zm24.87-6.61c-1.553-3.102-3.275-5.507-4.843-5.507-1.572 0-3.253 2.42-4.754 5.528 1.542-.082 3.212-.128 5.033-.128h.056c1.62 0 3.115.04 4.507.108zm-4.508 1.426h-.05c-2.136 0-4.044.062-5.756.174-.737 1.693-1.407 3.492-1.985 5.17 2.146-.21 5.06-.437 7.67-.437 2.525 0 5.335.21 7.454.416-.603-1.682-1.314-3.482-2.078-5.18-1.582-.092-3.325-.143-5.254-.143zM.262 16.588c.872-2.133 3.81-4.58 12.17-5.625C13.58 7.927 17.03 0 21.716 0c4.677 0 8.25 7.89 9.446 10.912 8.45.994 11.51 3.394 12.484 5.486.407.877.366 1.544.335 1.764-.03.477-.397 5.205-2.197 11.445-1.645 5.733-4.383 12.127-6.24 14.558C34.093 46.062 31.35 48 22.002 48c-9.342 0-12.085-1.938-13.54-3.835-1.85-2.42-4.594-8.815-6.25-14.553C.423 23.377.057 18.654.02 18.162c-.03-.205-.067-.79.242-1.574z")
													|دانلود از کافه‌بازار
												
												a.download--store_playstore(href="https://play.google.com/store/apps/details?id=com.zarinpal.ewallets" target="_blank")
													svg.vector-icon(viewbox="0 0 43 48")
														path(d="M1.4 48C.553 47.77 0 46.923 0 45.612V2.332C0 1.116.468.297 1.21 0l21.153 24.12L1.4 48zm2.913-.92l25.462-14.51-6.2-7.07L4.312 47.08zM29.95 15.476L4.844 1.165 23.61 22.697l6.34-7.223zm1.704.97l9.836 5.607c1.862 1.062 1.88 2.773 0 3.844l-10.085 5.747-6.577-7.548 6.826-7.65z")
													|دانلود از پلی‌استور

	-if( mobile_android_en == true )
		header.global--header(class='global--header_is-green--app')
			section.global--header-holder
				nav.global--sticky.global--header-nav.global--header-nav--transparent
					.wrap
						.row
							include menu.pug
			section.global--header__promocases(class=(mobile == true) ? 'min-padding' : '')
				.wrap
					section.app-landing
						.row
							.column__mobile-16.column__tablet-5.column-inline.vertical-align_middle
								.column_inner
									figcaption
										h4.app-landing_little ZarinPal Mobile Software
										h3.app-landing_title Mobile Application
										p.app-landing_praph
											|Install Zarinpal App on your Android and IOS device. Pay faster and easier, manage your eWallets and debit cards, pay bills or buy charges and the big surprise is that you can have an online payment in a few seconds! With the ZarinPal free application your mobile phone will be your eWallet and mobile wallet.
							.column__mobile-16.column__tablet-6.column-inline.vertical-align_middle
								.hero--vector
									.column_inner
										div.mockup
											.mockup-body.android
												.hero--vector
													img.view(src='/assets/img/tmp/andorid-screen.png')
							
							.column__mobile-16.column__tablet-5.column-inline.vertical-align_middle
								.column_inner
									figcaption
										p.app-landing_praph.ta-center-firm One click to enter the world of ZarinPal:
										nav.download--btns
											a.download--store_cafebazaar(href="https://cafebazaar.ir/app/com.zarinpal.ewallets/?l=fa" target="_blank")
												svg.vector-icon(viewbox="0 0 44 48")
													path(d="M28.472 12.194c.794 1.784 1.485 3.615 2.047 5.214 1.33.14 2.195.257 2.21.257.862.082 1.728.2 2.57.313 1.128.153 2.298.312 3.453.38 1.815.107 2.914-.262 3.548-1.196-.015-.04-.03-.077-.05-.118-.604-1.297-3.146-4.05-13.778-4.85zM21.717 1.02c-3.176 0-6.285 5.102-8.136 9.815.702-.072 1.44-.14 2.213-.19 1.686-3.59 3.76-6.625 5.924-6.625 2.155 0 4.27 3.02 6.017 6.59.794.05 1.552.112 2.274.18-1.928-4.693-5.12-9.77-8.29-9.77zM1.69 17.157c-.02.046-.025.087-.04.133.644.847 1.716 1.17 3.45 1.067 1.15-.067 2.314-.226 3.438-.38.84-.112 1.712-.23 2.568-.312.02-.005.804-.108 2.02-.236.532-1.596 1.192-3.42 1.955-5.2-10.47.856-12.858 3.625-13.39 4.927zm24.87-6.61c-1.553-3.102-3.275-5.507-4.843-5.507-1.572 0-3.253 2.42-4.754 5.528 1.542-.082 3.212-.128 5.033-.128h.056c1.62 0 3.115.04 4.507.108zm-4.508 1.426h-.05c-2.136 0-4.044.062-5.756.174-.737 1.693-1.407 3.492-1.985 5.17 2.146-.21 5.06-.437 7.67-.437 2.525 0 5.335.21 7.454.416-.603-1.682-1.314-3.482-2.078-5.18-1.582-.092-3.325-.143-5.254-.143zM.262 16.588c.872-2.133 3.81-4.58 12.17-5.625C13.58 7.927 17.03 0 21.716 0c4.677 0 8.25 7.89 9.446 10.912 8.45.994 11.51 3.394 12.484 5.486.407.877.366 1.544.335 1.764-.03.477-.397 5.205-2.197 11.445-1.645 5.733-4.383 12.127-6.24 14.558C34.093 46.062 31.35 48 22.002 48c-9.342 0-12.085-1.938-13.54-3.835-1.85-2.42-4.594-8.815-6.25-14.553C.423 23.377.057 18.654.02 18.162c-.03-.205-.067-.79.242-1.574z")
												|  Cafe Bazaar
											
											a.download--store_playstore(href="https://play.google.com/store/apps/details?id=com.zarinpal.ewallets" target="_blank")
												svg.vector-icon(viewbox="0 0 43 48")
													path(d="M1.4 48C.553 47.77 0 46.923 0 45.612V2.332C0 1.116.468.297 1.21 0l21.153 24.12L1.4 48zm2.913-.92l25.462-14.51-6.2-7.07L4.312 47.08zM29.95 15.476L4.844 1.165 23.61 22.697l6.34-7.223zm1.704.97l9.836 5.607c1.862 1.062 1.88 2.773 0 3.844l-10.085 5.747-6.577-7.548 6.826-7.65z")
												|  Play Store

-else if(menuSelf === true)
	header.global--header.soft-void(class="global--header_is-frozen")
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--self
				.wrap
					.row
						include menu

		section.global--header__promocases.min-padding
			.wrap
				.ta-center-firm
					h1.global--header__promocases-item_title ما یک تیم هستیم.
					h3.global--header__promocases-item_little خلاق، همدل، متخصص و متعهد به کار، دوست و صد البته خوشحال :)
					nav.global--header__promocases-item_nav
						a.btn-animated.btn-animated_colorset_golden(href="#intro_team") با ما بیشتر آشنا شوید.

-else if(easypay === true)
	header.global--header(class="global--header_is-friday")
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--self
				.wrap
					.row
						include menu

		section.global--header__promocases.min-padding
			.wrap
				.ta-center-firm
					h1.global--header__promocases-item_title آسان پرداخت زرین‌پال
					h3.global--header__promocases-item_desc هیچ کسی پیچیدگی را دوست ندارد! نه کسی که می‌خواهد محصولش را در پیج اینستاگرام‌اش با فالوورهای بالا یا کانال تلگرامش با اعضای زیاد برای فروش قرار دهد و نه آن کسی که می‌خواهد این محصول را بخرد.آسان‌پرداخت زرین‌پال یک راه حل ساده و کاربردی برای پرداخت آنلاین است تا بدون پیچیدگی آسان بفروشید.
-else if(easypay_en === true)
	header.global--header(class="global--header_is-friday")
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--self
				.wrap
					.row
						include menu

		section.global--header__promocases.min-padding
			.wrap
				.ta-center-firm
					h1.global--header__promocases-item_title ZarinPal EasyPay
					h3.global--header__promocases-item_desc No one likes complexity, neither the seller who wants to sell his products on his Instagram with high followers or Telegram with many members, nor the buyer who wants to buy them. ZarinPal Easypay is a simple and practical solution to online payment in order to sell easily and without complexity.


-else if(merchant === true)
	header.global--header.soft-void(class="global--header_is-sky")
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--transparent
				.wrap
					.row
						include menu

		section.global--header__promocases.min-padding.effective
			.wrap
				.ta-center-firm
					h1.global--header__promocases-item_title بهترین‌ها با ما کار می‌کنند
					h3.global--header__promocases-item_little کسب و کارهایی که به مشتریان خود اهمیت می‌دهند، زرین‌پال را انتخاب می‌کنند.
					//- h3.global--header__promocases-item_little خلاق، همدل، متخصص و متعهد به کار، دوست و صد البته خوشحال :)
-else if(pricing === true)
	header.global--header.soft-void.global--header_is-blue
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--transparent
				.wrap
					.row
						include menu
		section.global--header__promocases.min-padding.effective
			.wrap
				.ta-center-firm
					h1.global--header__promocases-item_title تعرفه‌ها
					h3.global--header__promocases-item_little کارمزدهای کم، مخاطبان بیشتر
-else if(aboutPage === true)
	header.global--header.soft-void.global--header_is-green
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--transparent
				.wrap
					.row
						include menu
		section.global--header__promocases.min-padding.effective
			.wrap
				.ta-center-firm
					h1.global--header__promocases-item_title درباره ما
					h3.global--header__promocases-item_little زرین‌پال بهترین و بزرگترین درگاه اینترنتی کشور که روزانه به بیش از ۲۰٫۰۰۰ کسب و کار سرویس پرداخت ارائه می‌دهد.
-else if(contactPage === true)
	header.global--header.soft-void.global--header_is-moss
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--transparent
				.wrap
					.row
						include menu
		section.global--header__promocases.min-padding.effective
			.wrap
				.ta-center-firm
					h1.global--header__promocases-item_title تماس با ما
					h3.global--header__promocases-item_little تماسی از جنس زرین‌پال
-else if(faqPage === true)
	header.global--header.soft-void.global--header_is-bluegray
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--transparent
				.wrap
					.row
						include menu
		section.global--header__promocases.min-padding.effective
			.wrap
				.ta-center-firm
					h1.global--header__promocases-item_title سوالات متداول
					h3.global--header__promocases-item_little راهنمای سریع کاربران زرین‌پالی
-else if(menuSelf_en === true)
	header.global--header.soft-void(class="global--header_is-frozen")
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--self
				.wrap
					.row
						include menu

		section.global--header__promocases.min-padding
			.wrap
				.ta-center-firm
					h1.global--header__promocases-item_title We are a team.
					h3.global--header__promocases-item_little Creative, sympathetic, professional, committed to work, friendly and of course happy :)
					nav.global--header__promocases-item_nav
						a.btn-animated.btn-animated_colorset_golden(href="#intro_team") Get to know us better

-else if(menuSelf !== true)
	header.global--header
		section.global--header-holder
			nav.global--sticky.global--header-nav.global--header-nav--darken
				.wrap
					.row
						include menu
