-if(index_en == true || single_en == true || mobile_en == true || mobile_android_en == true)
	.column__tablet-7
		.column_inner
			a.hero--logo_en(href="index.html")
				svg.hero--logo_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 65")
					path(fill="#FAFAFA" d="M32.55 19.874h60.814l.647-4.305v-.12c0-.272-.153-.544-.39-.783-.34-.34-.818-.578-1.328-.646-.102-.016-.204-.016-.323-.016H35.374l2.893-6.007h53.7c.392 0 .783.034 1.175.102 1.77.255 3.437 1.105 4.662 2.313C99.15 11.723 100 13.476 100 15.45c0 .306-.017.63-.068.97l-6.007 40.463c-.29 2.042-1.19 3.947-2.57 5.326-1.377 1.377-3.198 2.228-5.376 2.228H0l2.025-4.27 25.693-54.18H4.084V0H37.18l-2.026 4.27L9.46 58.45h76.52c.46 0 .85-.187 1.14-.476.46-.46.782-1.157.884-1.957l2.978-20.06h-66.19l7.76-16.08zm4.816 29.114H75.38c.9 0 1.65.748 1.65 1.667 0 .92-.75 1.668-1.65 1.668H37.365c-.902 0-1.65-.75-1.65-1.668 0-.92.748-1.667 1.65-1.667zm31.564-9.02h7.282c.92 0 1.668.75 1.668 1.67 0 .918-.75 1.666-1.668 1.666H68.93c-.92 0-1.668-.748-1.668-1.667 0-.92.75-1.668 1.668-1.668zm-25.898 0h19.28c.918 0 1.666.75 1.666 1.67 0 .918-.748 1.666-1.667 1.666H43.033c-.92 0-1.667-.748-1.667-1.667 0-.92.748-1.668 1.667-1.668z")
				h1.hero--logo_zarinpal ZarinPal

			a.btn-inline_en(href="/auth/register") Sign Up
			a.btn-inline_en(href="/auth/login") Sign In

	.column__mobile-16.column__tablet-9.mobile-version
		.column_inner
			.ta-right
				.infinity--links
					ul.global--header-nav-inline
						li
							a(href="app.html") Apps
						li 
							a(href="pricing.html") Pricing
						li 
							a(href="team.html") Team
						li
							a.ul-span(href="#") More
							ul.ul-menu
								li
									a(href="zarincard.html") ZarinCard
								li 
									a(href="faq.html") FAQ
								li 
									a(href="about.html") About Us
								li
									a(href="contact.html") Contact Us

-if(index_fa == true || single_fa == true || mobile == true)
	.column__tablet-7
		.column_inner
			a.hero--logo(href="/")
				svg.hero--logo_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 65" fill="red")
					path(fill="#FAFAFA" d="M32.55 19.874h60.814l.647-4.305v-.12c0-.272-.153-.544-.39-.783-.34-.34-.818-.578-1.328-.646-.102-.016-.204-.016-.323-.016H35.374l2.893-6.007h53.7c.392 0 .783.034 1.175.102 1.77.255 3.437 1.105 4.662 2.313C99.15 11.723 100 13.476 100 15.45c0 .306-.017.63-.068.97l-6.007 40.463c-.29 2.042-1.19 3.947-2.57 5.326-1.377 1.377-3.198 2.228-5.376 2.228H0l2.025-4.27 25.693-54.18H4.084V0H37.18l-2.026 4.27L9.46 58.45h76.52c.46 0 .85-.187 1.14-.476.46-.46.782-1.157.884-1.957l2.978-20.06h-66.19l7.76-16.08zm4.816 29.114H75.38c.9 0 1.65.748 1.65 1.667 0 .92-.75 1.668-1.65 1.668H37.365c-.902 0-1.65-.75-1.65-1.668 0-.92.748-1.667 1.65-1.667zm31.564-9.02h7.282c.92 0 1.668.75 1.668 1.67 0 .918-.75 1.666-1.668 1.666H68.93c-.92 0-1.668-.748-1.668-1.667 0-.92.75-1.668 1.668-1.668zm-25.898 0h19.28c.918 0 1.666.75 1.666 1.67 0 .918-.748 1.666-1.667 1.666H43.033c-.92 0-1.667-.748-1.667-1.667 0-.92.748-1.668 1.667-1.668z")
				h1.hero--logo_zarinpal زرین‌پال

			//a.btn.btn-white.small.tiny(href="/panel") پنل کاربری
			//- a.btn-inline(href="/auth/register") ثبت‌نام
			//- a.btn-inline(href="/auth/login") ورود به زرین‌پال
	//- #menu-icon-wrapper.menu-icon-wrapper
	//- 	svg(width='1000px', height='1000px')
	//- 		path#pathA(d='M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800')
	//- 		path#pathB(d='M 300 500 L 700 500')
	//- 		path#pathC(d='M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200')
	//- 	button#menu-icon-trigger.menu-icon-trigger
	//- // menu-icon-wrapper
	button(class="menu-icon-wrapper hamburger hamburger--squeeze" type="button")
		span.hamburger-box
			span.hamburger-inner

	#toggleNav.toggleNav
		ul
			li
				a(href="/app.html") اپلیکیشن
			li
				a(href="/pricing.html") تعرفه‌ها
			li
				a(href="/merchant.html") پذیرندگان
			li
				a(href="/lab/") آزمایشگاه
			li
				a(href="/blog/") وبلاگ
		ul
			li
				a(href="/zarincard.html") زرین‌کارت
			//- li
				a(href="/pricing.html") تعرفه
			li
				a(href="/faq.html") سوالات متداول
			li
				a(href="/about.html") درباره ما
			li
				a(href="/contact.html") تماس با ما
		div.toggleNav__auth
			a(href="/auth/register") ثبت‌نام
			a(href="/auth/login") ورود به زرین‌پال
	.column__mobile-16.column__tablet-9.mobile-version
		//- a.navbar-toggle(href="")
	.column_inner
			//- a.btn.btn-gold 
			.ta-left.ta-right
				.infinity--links
					ul.global--header-nav-inline
						li
							a(href="/app.html") اپلیکیشن
						li 
							a(href="/pricing.html") تعرفه‌ها
						li 
							a(href="/merchant.html") پذیرندگان
						li
							a(href="/lab/") آزمایشگاه
						li
							a(href="/blog/") وبلاگ
						li
							a.ul-span(href="#") بیشتر
							ul.ul-menu
								li
									a(href="/zarincard.html") زرین‌کارت
								//- li 
									a(href="/pricing.html") تعرفه
								li 
									a(href="/faq.html") سوالات متداول
								li 
									a(href="/about.html") درباره ما
								li
									a(href="/contact.html") تماس با ما
						li
							a.en(href="/en/" target="_blank" title="English version of ZarinPal") EN