- function cacheBusted(url){ return url + '?' + Date.now(); }
script(type="text/javascript" data-main="/assets/js/init" src=cacheBusted('/assets/js/lib/require.js'))
script(type="text/javascript").
		require(['init'], function(){
			require(['app']);
		});
//script(data-cfasync='false').
//	window.civchat = {
//		apiKey: "4um2rXk756zOwkzsqUmyU6tbOwoLH8rY9DBws7QDIAQ0B8Cdhm7x0c2FimbyIWE7",
//		state: "hidden"
//	};
//script(data-cfasync='false', src='https://widget.userengage.io/widget.js')
