sudo: required
dist: trusty

language: node_js
node_js:
  - stable
notifications:
  email: false

script:
    - ./compiler.sh

before_install:
    - openssl aes-256-cbc -K $encrypted_3e54b63ec015_key -iv $encrypted_3e54b63ec015_iv -in deploy_key.enc -out deploy_key -d