extends partials/layout.pug

block project-info
	- var pagename = 'درباره'
	- var single_fa = true
	- var HelloWithEffect = true
	- var aboutPage = true
block content


	<!-- .ZarinPal -->
	include partials/header

	section.section--primary
		.container
			br
	article.section.about
		.container
			section.section--content
				.row
					.column__mobile-16.column__tablet-2
						//- img(src="https://unsplash.it/200/180?random")
					.column__mobile-16.column__tablet-16
						h3.title-section تاریخچه
						p 
							img.img_align-right(src="./assets/img/about/image--2.jpg", width="400" alt="")
							| زمانی که پرداخت آنلاین در ایران پدیده‌ای نوپا محسوب می‌شد و گرفتن درگاه‌های پرداخت آنلاین دشواری‌های زیادی داشت، برای ایجاد یک فضای ایمن و قابل اعتماد میان فروشندگان و خریداران اینترنتی و همچنین ارائه‌ی یک درگاه پرداخت اینترنتی به سادگیِ هرچه تَمام‌تر، استارت‌آپی به نام زرین‌پال در فروردین ۱۳۸۹ متولد شد.
							| با استقبال خوبِ مشتریان و فروشندگان از زرین‌پال این استارت‌آپ خلاق با سرعتِ بیشتری رشد کرد تا به امروز که زرین‌پال به یک کسب و کار پیشگام، معتبر و نوآور در زمینه‌ی ارائه‌ی راه‌کارها و خدمات پرداخت آنلاین تبدیل شده است.
							
							
							//- | زمانی که پرداخت آنلاین در ایران پدیده‌ای نوپا محسوب می‌شد و گرفتن درگاه‌های پرداخت آنلاین دشواری‌های زیادی داشت، برای ایجاد یک فضای ایمن و قابل اعتماد میان فروشندگان و خریداران اینترنتی و همچنین ارائه‌ی یک درگاه پرداخت اینترنتی به سادگیِ هرچه تَمام‌تر، استارت‌آپی به نام زرین‌پال در فروردین ۱۳۸۹ متولد شد.
							//- | با استقبال خوبِ مشتریان و فروشندگان از زرین‌پال این استارت‌آپ خلاق با سرعت بیشتری رشد کرد تا به امروز که زرین‌پال به یک کسب و کار پیشگام، معتبر و نوآور در زمینه‌ی ارایه راه‌کارها و خدمات پرداخت آنلاین تبدیل شده است.
							//- | اکنون زرین‌پال به عنوان مجموعه‌ای مستقل و زیر نظر صندوق سرمایه‌گذاری چند ملیتی مالتی‌وِنچرز در حال فعالیت می‌باشد.
							//- p زرین‌پال با استقبال مناسبی از سوی مشتریان و فروشندگان مواجه شد و این استارتاپ خلاق با سرعت بیشتری رشد کرد تا امروز به یک کسب و کار پیشگام، معتبر و نوآور در زمینه ارایه راه‌کارها و خدمات پرداخت آنلاین تبدیل شود. 
						hr 
			
			section.section--content
				.row
					.column__mobile-16.column__tablet-2
						//- img(src="https://unsplash.it/200/180?random") 
					.column__mobile-16.column__tablet-16
						img.img_align-center(src="./assets/img/about/image--4.jpg", width="1024" alt="")
						h3.title-section دستاوردها
						p کسب و کارهای دانش‌بنیان همواره تلاش بر گسترش منابع انسانی و پایگاه‌های دانش خود دارند اما زرین‌پال نیز، به عنوان یک کسب و کار دانش‌بنیان با سرمایه‌گذاری و تمرکز دو چندان در زمینه‌های موجود و توسعه‌ی فعالیت‌های خود در حوزه‌ی فناوری اطلاعات به خصوص فناوری‌های مالی (FinTech) توانسته است، دستاوردهای معتبر و قابل توجه‌ای داشته باشد.
						//- p جوایز کسب شده توسط زرین‌پال
						//- 	| جشنواره 
						//- 	br
						//- 	| کنفرانس ترکیه
						//- 	br
						//- 	| کنفرانس آلمان
						//- 	br
						//- 	| نتیجه برآورد سرآوا
						//- p همانند هر کسب و کار دانش‌بنیان دیگری زرین‌پال نیز بر گسترش منابع انسانی و پایگاه دانش خود سرمایه‌گزاری فراوانی کرده است. تمرکز و توسعه در حوزه فناوری اطلاعات به خصوص فناوری‌ها مالی (FinTech) توانسته همواره برای ما دستاوردهای معتبری را به ارمغان بیاورد:
						ul
							li بهمن ۱۳۹۳: قوی‌ترین تیم فنی بین استارتاپ‌های ایرانی
								p توسط: گزارش رسمی مشاور فنی سرآوا
							li اسفند ۱۳۹۳: سرویس برگزیده 
								p جشنواره وب و موبایل ایران
							li اسفند ۱۳۹۴: انتخاب اول بهترین سرویس مالی و بانکی
								p جشنواره وب و موبایل ایران
						hr

						img.img_align-left(src="./assets/img/about/image--3.jpg", width="425" alt="")
						h3.title-section چرا زرین‌پال؟
						p اگر بخواهیم دیدگاه زرین‌پال را در یک جمله بیان کنیم، ساده‌سازی فرآیند پرداخت آنلاین اصلِ مطلب را اَدا خواهد کرد. تلاش ما در زرین‌پال همواره برای ارائه‌ی نوآورانه‌ترین سرویس‌ها در بستر وب،‌ موبایل، کارت، ‌POS و mPos می‌باشد.
							| هدف ما ساده‌تر کردن مراحل پرداخت و افزایش حداکثری پرداخت‌های موفق در زمان تصمیم‌گیری برای پرداخت است. موردی که در کشورمان تا کنون کمتر به آن توجه شده است.
							| درست است که نرخ کارمزد و دریافت آن در ایران مرسوم نیست اما پذیرش این امر که انجام هر خدمت مستلزم پرداخت هزینه است، کاربرانِ ما را متقاعد به پرداخت منطقی و معقول می‌کند. البته ما نیز تلاش می‌کنیم بهترین خدمات را در راستای مناسب‌ترین نرخ کارمزد به کاربران ارائه دهیم.
						//- p وجود دارد.  تا جائی که در بهمن ماه 1393 و بر اساس گزارش رسمی مشاور فنی یکی از معتبرترین صندوق های سرمایه گذاری فعال در کشور، زرین پال به عنوان قوی ترین تیم فنی در میان استارت آپ های ایرانی شناخته شد. در همان زمان زرین پال موفق به کسب عنوان برترین وبسایت فعال در حوزه پرداخت آنلاین در جشنواره وب و موبایل ایران شناخته شد. پیش از آن و در مهر ماه سال 1393 زرین پال در کنفرانس استارت آپ استانبول که در ترکیه برگزار میشد، موفق به کسب عنوان منتخب مردمی از میان 70 استارت آپ شرکت کننده در منطقه خاور میانه و اروپای شرقی شناخته شده بود. کسب افتخارات متفاوت برای مجموعه زرین پال، بار روی دوش همکاران مجموعه را افزایش میدهد و مسئولیت زرین پال در قبال کاربران خود را سنگینتر میکند. زرین پال اکنون به عنوان مجموعه ای مستقل و زیر نظر صندوق سرمایه گذاری چند ملیتی مولتی ونچرز در حال فعالیت میباشد. 
						//- hr
			
			//- section.section--content
			//- 	.row
			//- 		.column__mobile-16.column__tablet-4
			//- 			img(src="https://unsplash.it/200/180?random")
			//- 		.column__mobile-16.column__tablet-12
			//- 			h3.title-section  دستاوردها
			//- 			p جوایز کسب شده توسط زرین‌پال
			//- 				| جشنواره 
			//- 				br
			//- 				| کنفرانس ترکیه
			//- 				br
			//- 				| کنفرانس آلمان
			//- 				br
			//- 				| نتیجه برآورد سرآوا
			//- 			hr
			
			//- section.section--content
				.row
					.column__mobile-16.column__tablet-4
						img(src="https://unsplash.it/200/180?random")
					.column__mobile-16.column__tablet-12
						h3.title-section دیدگاه و آینده
						h3.title-section معرفی تیم زرین‌پال
						p ترتیب نمایش اعضا
						p عنوان شغلی هر فرد
						hr
			
			//- section.section--content
				.row
					.column__mobile-16.column__tablet-2
						//- img(src="https://unsplash.it/200/180?random")
					.column__mobile-16.column__tablet-16
						//- h3.title-section چرا زرین‌پال؟
						//- p مطالعه رقبا و برسی نقاط ضعف و قدرت
						//- p چرا زرین‌پال بهتر از رقبا است
						
						h3.title-section  زرین‌پال در رسانه‌ها
						ul
							li نت استارت - معرفی، درگاه پرداخت زرین پال، یاور زرین 
							li دیدگاه زرین پال تبدیل شدن به کیف پول آنلاین در فضای وب و دنیای واقعی است. کیف پولی که در آن مقداری وجه نقد در کنار کارت های بانکی، کارت های تخفیف و وفادارسازی و همچنین کارت های عضویت نگهداری میشوند و البته شعار اصلی زرین پال یعنی تضمین تراکنش، همواره برای حفظ حقوق مشتری و خریدار در نظر گرفته شده است. تلاش زرین پال همکاری مشترک با شرکت های تجارت الکترونیک و بانک ها به منظور افزایش کیفیت سرویس دهی به کاربران خود، تا زمان تدوین و تصویب قوانین کیف پول الکترونیکی توسط نهاد حاکمیتی است.
						p اکنون زرین پال بیش از 20 همکار را در مجموعه خود داراست. 20 بازیگری که پازل 200 هزار کاربری زرین پال را در کنار هم میچینند و هر روز کاربران را برای رسیدن به کیفیت مطلوب تر راهنمائی میکنند. رسم را بر این گذاشتیم که به عنوان اولین استارت آپ ایرانی سنت شکنی کرده و لیست همکاران خود را برای عموم نمایش دهیم. اکنون میتوانید لیست همکاران و البته مشاوران ما در مجموعه زرین پال را در این صفحه، و همچنین لیست 20 هزار پذیرنده زرین پال را در این صفحه مشاهده کنید.
						p ما در زرین پال تلاش داریم همواره جدیدترین سرویس ها را به طور متمایز به کاربران خود ارائه دهیم. سرویس هایی منحصر به فرد و یکتا که کاربرانمان را در زمان پرداخت یاری میکنند. این سرویس ها در بستر وب، موبایل، کارت، POS و  mPos ارائه میشوند. هدف ما ساده تر کردن مراحل پرداخت و افزایش حداکثری پرداخت های موفق در زمان تصمیم گیری برای پرداخت است. موردی که کشورمان تا کنون کمتر به آن توجه شده است. گرچه نرخ کارمزد و دریافت کارمزد در ایران مرسوم نیست اما پذیرش این امر که انجام هر خدمت مستلزم پرداخت هزینه است، کاربران ما را متقاعد به پرداخت منطقی و معقول میکند. البته ما نیز تلاش میکنیم بهترین خدمات را در راستای مناسب ترین نرخ کارمزد به کاربران ارائه دهیم. اگر فکر میکنید ارتباط با ما، ما را در ارائه خدمات و ایده های جدید به شما و ساخت دنیایی بهتر یاری میکند حتما ازین صفحه با ما تماس بگیرید.
							//- a.accent-link(href="#") اطلاعات بیشتر...
	include partials/footer
	<!-- /.ZarinPal -->
