extends partials/layout

block project-info
	- var pagename = 'اپلیکیشن تلفن‌همراه زرین‌پال'
	- var mobile = true
	- var mobile_android = true
block content


	<!-- .ZarinPal -->
	include partials/header



	include partials/footer
	<!-- /.ZarinPal -->
