extends partials/layout

block project-info
	- var pagename = 'سياست امنيت اطلاعات'
	- var single_fa = true

block content


	<!-- .ZarinPal -->
	include partials/header

	section.section--primary
		.container
			//- h4.section--primary--little تماسی از جنس زرین‌پال
			h1.section--primary--title سياست امنيت اطلاعات
			hr.fancy

	section.section
		.container
			.section--content
				h5 نگاه کلی
				p لازم است سرويس زرين پال به منظور کاهش کلاه برداری، از اعضاء خود اطلاعات خودشان و اطلاعات حساب بانکی مورد استفاده در سرويس زرين پال را درخواست کند. لازم است کاربران سرويس زرين پال، اطلاعات درخواستی اين سرويس را در اختيار ما قرار دهند.
					br
					| با رضايت و موافقت با موارد سياست امنيت اطلاعات، شما در حقيقت رضايت و موافقت خود را برای کمک به ما در پردازش اطلاعات شخصی خود، برای اجرای هر چه بهتر سياست امنيت اطلاعات، اعلام کرده ايد.
					br
					| اين سياست، امنيت اطلاعاتی که ما جمع آوری ميکنيم را مشخص و نحوه استفاده از اين اطلاعات را توضيح ميدهد. زرين پال، امنيت اطلاعات شخصی شما را به شدت محفوظ نگاه داشته و از اطلاعات شخصی شما فقط در رابطه با شرايط سياست امنيت اطلاعات استفاده ميکند. ما اطلاعات شخصی شما و يا ليستی از مشتريان خود را نه به شخص ثالثی ميفروشيم و نه برای مدتی در اختيار کسی ميگذاريم. هر چند زرين پال در کشور جمهوری اسلامی ايران مديريت ميشود و تابع قوانين اين کشور است، در برخی شرايط خاص و دريافت دستور از مراجع ذيصلاح لازم است تا اطلاعات مورد نياز در اختيار مرجع ذيصلاح قرار داده شود.
					br
					| لازم است سياست امنيت اطلاعات را هر چند وقت يکبار دوباره مرور کنيد. اين سياست، بر روی همه سايت هايی که از سرويس زرين پال استفاده ميکنند، اجرا ميشود.
					br
					| با پذيرفتن سياست امنيت اطلاعات و پذيرفتن بخش "موافقت سياست امنيت اطلاعات" در زمان عضويت، در حقيقت شما با آشکار شدن اطلاعات خود برای ما و استفاده ما از اطلاعات شخصی خود موافقت کرده ايد و ما را برای انجام موارد ذکر شده در سياست امنيت اطلاعات هدايت کرده ايد.
					br
					| تمام موارد سياست امنيت اطلاعات اشاره به موافقت کاربر در زمان عضويت با جمله "با سياست امنيت اطلاعات زرين پال موافقت ميکنم" دارد.
					br
					| اگر با شرايط سياست امنيت اطلاعات مخالف هستيد، برای استفاده از سرويس زرين پال، ثبت نام نکنيد.
				hr

				h5 تذکر تغيير اطلاعات
				p اين سياست ممکن است برخی اوقات به دليل افزودن يک قابليت جديد به سرويس زرين پال و يا اجرای پيشنهادهای مشتريان، تجديد نظر شوند. ممکن است اين سياست را در هر زمانی با فرستادن نسخه جديدی از آن روی وبسايت اصلاح کنيم. شرايط نسخه اصلاح شده ای که روی وبسايت قرار ميدهيم در همان لحظه قابل اجرا است. همچنين اگر قصد تغيير سياست امنيت اطلاعات فعلی را داشته باشيم، 30 روز قبل از تغيير سياست امنيت اطلاعات شما را توسط قرار دادن هشدارهايي روی صفحه از بروز رسانی سياست امنيت اطلاعات سرويس خود، با خبر ميکنيم. بعد از قرار دادن اين 30 روز هشدار و آگهی در مورد تغيير، فرض می شود که شما با شرايط جديد سياست امنيت اطلاعات موافق هستيد. اگر با تغييرات ايجاد شده در سياست امنيت اطلاعات مخالف باشيد، ميتوانيد اکانت خود را هر زمان که مايل باشيد، ببنديد. لطفا آدرس www.zarinpal.com/pages/rules/privacy را برای مشاهده آخرين نسخه سياست امنيت اطلاعات مشاهده کنيد.
				| برخی از صفحات سايت زرين پال، شامل لينک هايي ميباشند که مربوط به سايت های ديگر است. اين سايت ها، شرايط سياست امنيت اطلاعات خاص خود را دارند و زرين پال مسئول عملکرد اين سايت ها نيست. کاربرانی که اطلاعات خود را در اين سايت های اشخاص ثالث ثبت ميکنند بايد  شرايط امنيتی آنها را کامل مطالعه کرده و سپس نسبت به دراختيار قرار گذاشتن اطلاعات شخصی و هويتی خود به آنها، اقدام کنند.
				
				hr
				h5 تذکر ويژه به کودکان و نوجوانان
				p کودکان و نوجوانان (افراد زير 18 سال) مجاز به استفاده از سرويس زرين پال و ثبت نام و ثبت اطلاعات خود در وبسايت زرين پال نيستند.
				
				hr
				h5 اطلاعاتی که ما از شما جمع آوری ميکنيم
				h6 اطلاعات مورد نياز
				p برای باز کردن يک اکانت در سايت زرين پال، بايد نام، آدرس، شماره تلفن و آدرس ايميل را وارد کنيد. در وارد کردن اين اطلاعات دقت کنيد چرا که زرين پال اطلاعات وارد شده را بررسی و از صحت آنها اطمينان حاصل ميکند. ممکن است زرين پال از شما کپی مدارک هويتی (شامل کپی شناسنامه و کپی کارت ملی) را درخواست کند و يا با شماره تلفن شما تماس حاصل کند و يا کد تاييد 10 رقمی را به وسيله پست به آدرس شما ارسال کند. برای رسيدن به سطح تاييد پلاتينيم عموما تمامی مراحل فوق انجام ميشود.
					| برای پرداخت درست توسط زرين پال، بايد اطلاعات حساب بانکی خود (شامل شماره حساب و شماره کارت) را در اختيار ما قرار دهيد. لازم است تا حساب های اعلام شده با نام فرد عضو شده در سيستم مطابقت داشته باشد. ممکن است زرين پال از شما کپی کارت اعتباری يا مالی ثبت شده در سيستم را درخواست کند. اين کار به منظور جلوگيری از استفاده از کارت های الکترونيکی سرقت شده در سيستم زرين پال به کار ميرود. اين عمليات ممکن است برای تراکنش های ورودی و خروجی اجرا شود و چنانچه مالکيت کارت الکترونيکی انجام دهنده تراکنش ورودی برای زرين پال احراز نشود وجه ورودی به سيستم را به کارت مبدا برگشت خواهد زد. همچنين زرين پال برای دريافت وجه و افزايش اعتبار به صورت آنلاين شما را به صفحات وبسايت بانکها ارجاع ميدهد. لازم است سياست امنيت اطلاعات بانکها توسط شما مطالعه شود.
					| ما همچنين از شما ميخواهيم که يک سوال امنيتی را وارد به آن پاسخ دهيد. اين سوالات به هنگام درخواست کلمه عبور جديد (در هنگام فراموش کردن آن) لازم است و به اين ترتيب هيچ کلاه برداری از حساب جاری شما انجام نخواهد شد.
					| همچنين ما احتياج به برخی اطلاعات تجاری يا هويتی از شما داريم (برای برخی تراکنش های مالی بالا توسط زرين پال) که اين اطلاعات به ما کمک ميکند از سوء استفاده های مالی جلوگيری شود و برخی قواين رعايت شود.
				h6 اطلاعات تراکنش ها
				p ممکن است زمانی که شما به کسی پول ميفرستيد و يا از کسی درخواست پول ميکنيد، ما سوال هايي از شما در مورد اطلاعات آن تراکنش بپرسيم؛ مثلا: نوع تراکنش (خريد کالا، خريد سرويس و يا انتقال وجه ساده) و آدرس ايميل و يا شماره تلفن شخص ثالث. همچنين وقتی شما برای مشتری ديگری از زرين پال پول ميفرستيد ممکن است از شما برخی سوالات شخصی برای آن شخص ثالث پرسيده شود تا اين تراکنش کامل شود. اين اطلاعات همچنين ممکن است از جانب آن شخص برای ما نيز انتقال يابد و قابل دسترسی باشد.
					| ما اين اطلاعات را برای تمامی تراکنش های شما در زرين پال استفاده ميکنيم و همچنين اطلاعات را به پروفايتان اضافه ميکنيم تا در تراکنش های آينده تان مورد استفاده قرار گيرد.
					| ما آدرس اينترنتی (آی پی آدرس) و برخی اطلاعات هويتی کامپيوتر يا وسيله ای که با آن به اکانت زرين پال خود وصل ميشويد را جمع آوری ميکنيم تا تراکنش ها ممنوع و احتمالی را پيگيری کنيم.
				h6 اطلاعات شما از شخص ثالث
				p برای حفظ مشتريان خود از کلاه برداری های احتمالی ما اطلاعات شما را که در دست پردازنده های بانکی است را با اطلاعات شما تطبيق ميدهيم. ما در برخی از شرايط و در صورتی که مقدار زيادی پول توسط زرين پال دريافت يا ارسال ميکنيد، يک بررسی را درباره شما و تجارت شما انجام خواهيم داد.
				h6 تاييديه های اضافی
				p اگر نتوانيم اطلاعاتی که شما به ما داده ايد را تاييد کنيم، يا اينکه شما درخواست دريافت يا پرداخت وجهی توسط چک به آدرسی غير از آدرس تاييد شده خود داشته باشيد، ما از شما ميخواهيم که اطلاعات اضافی (مانند کپی يک قبض برق يا تلفن جديد يا اطلاعات ديگری که ارتباط شما را با اين آدرس ثابت کند) را با ايميل برای ما بفرستيد و يا اينکه به سوالات ما به صورت آنلاين پاسخ دهيد تا بتوانيم اطلاعات شما را تاييد کنيم. اين کار در موارد نادر انجام خواهد شد.


	include partials/footer
	<!-- /.ZarinPal -->

