extends partials/layout

block project-info
	- var pagename = 'تعرفه کارمزد'
	- var single_fa = true
	- var pricing = true
	- var HelloWithEffect = true

block content


	<!-- .ZarinPal -->
	include partials/header
	
	section.section--primary
		.container
			br
	section.section.pricing
		.container
			.row
				p ما در زرین‌پال به بازی بُرد بُرد اعتقاد داریم، برای همین برای کاربران جدید کارمزد ماه اول را رایگان محاسبه می‌کنیم. شما با خیالی آسوده می‌توانید پایداری سرویس‌های ما را بیازماید و با امکانات فراوان ما آشنا شوید.اما وقتی صحبت از کارمزد می‌شود، ما در زرین پال همواره تلاش می‌کنیم تا متنوع‌ترین و با کیفیت‌ترین خدمات را با کمترین هزینه برای افراد بیشتری در دسترس قرار دهیم.


				//- figure.badge-mini.badge
					figcaption.ta-center-firm کارمزدهای کم، مخاطبان بیشتر
					//- figcaption.ta-center-firm هدف ارائه‌ی بهترین خدمات است، کارمزد بهانه است.

				table.rwd-table.hero
					thead
						tr
							th(width="50%") نوع تسویه
							th(width="25%") زرین کارت
							th(width="25%") حساب بانکی

					tbody
						tr
							td(data-th="نوع تسویه")
								| ماه اول
								span(data-balloon="کاربران جدید، جهت ارزیابی در ماه اول از سرویس‌های متنوع زرین‌پال به رایگان استفاده کنید." data-balloon-pos="left")
									svg.question(viewBox="0 0 48 48")
										path(d="M24 48c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24zm-.052-25.3c1.1 1.19 1.652 2.9 1.652 5.134v2.09h-2.54v-2.09c0-1.655-.654-3.05-1.964-4.183l-.887-.713c-.42-.34-.84-.685-1.262-1.037-.423-.35-.85-.69-1.278-1.02l.052.034C16.574 19.724 16 18.224 16 16.41c0-1.77.788-3.293 2.365-4.574v.017c.765-.612 1.57-1.074 2.418-1.385.846-.312 1.745-.468 2.695-.468 1.09 0 2.08.184 2.965.553.887.368 1.65.88 2.287 1.538.557.647 1 1.42 1.33 2.322.33.9.52 1.86.566 2.88h-2.54c-.103-3.195-1.64-4.793-4.608-4.793-.52 0-1.06.098-1.617.297-.556.198-1.054.45-1.495.756-.464.397-.837.84-1.122 1.326-.284.487-.426.99-.426 1.512 0 .816.154 1.544.46 2.185.31.64.793 1.215 1.453 1.725.545.42 1.087.833 1.627 1.24.54.41 1.086.812 1.643 1.208l-.052-.05zm3.01 12.665l-2.593 2.533-2.452-2.397 2.574-2.55 2.47 2.415z")
							td(data-th="زرین‌کارت") رایگان
							td(data-th="حساب بانکی") رایگان
						tr
							td(data-th="نوع تسویه")
								| پرداخت با کیف پول
								span(data-balloon="کیف پول زرین‌پال یک راهکار ساده برای پرداخت‌های کوچک و بزرگ شما است که می‌توانید با آن در وبسایت پذیرندگان ما خرید کنید." data-balloon-pos="left")
									svg.question(viewBox="0 0 48 48")
										path(d="M24 48c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24zm-.052-25.3c1.1 1.19 1.652 2.9 1.652 5.134v2.09h-2.54v-2.09c0-1.655-.654-3.05-1.964-4.183l-.887-.713c-.42-.34-.84-.685-1.262-1.037-.423-.35-.85-.69-1.278-1.02l.052.034C16.574 19.724 16 18.224 16 16.41c0-1.77.788-3.293 2.365-4.574v.017c.765-.612 1.57-1.074 2.418-1.385.846-.312 1.745-.468 2.695-.468 1.09 0 2.08.184 2.965.553.887.368 1.65.88 2.287 1.538.557.647 1 1.42 1.33 2.322.33.9.52 1.86.566 2.88h-2.54c-.103-3.195-1.64-4.793-4.608-4.793-.52 0-1.06.098-1.617.297-.556.198-1.054.45-1.495.756-.464.397-.837.84-1.122 1.326-.284.487-.426.99-.426 1.512 0 .816.154 1.544.46 2.185.31.64.793 1.215 1.453 1.725.545.42 1.087.833 1.627 1.24.54.41 1.086.812 1.643 1.208l-.052-.05zm3.01 12.665l-2.593 2.533-2.452-2.397 2.574-2.55 2.47 2.415z")
							td(data-th="زرین‌کارت") رایگان
							td(data-th="حساب بانکی") رایگان
						tr
							td(data-th="نوع تسویه")
								| درگاه زرین‌پال
								span(data-balloon="انواع درگاه‌های پرداخت ما در همه افزونه‌ها شامل این کارمزد می‌باشند." data-balloon-pos="left")
									svg.question(viewBox="0 0 48 48")
										path(d="M24 48c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24zm-.052-25.3c1.1 1.19 1.652 2.9 1.652 5.134v2.09h-2.54v-2.09c0-1.655-.654-3.05-1.964-4.183l-.887-.713c-.42-.34-.84-.685-1.262-1.037-.423-.35-.85-.69-1.278-1.02l.052.034C16.574 19.724 16 18.224 16 16.41c0-1.77.788-3.293 2.365-4.574v.017c.765-.612 1.57-1.074 2.418-1.385.846-.312 1.745-.468 2.695-.468 1.09 0 2.08.184 2.965.553.887.368 1.65.88 2.287 1.538.557.647 1 1.42 1.33 2.322.33.9.52 1.86.566 2.88h-2.54c-.103-3.195-1.64-4.793-4.608-4.793-.52 0-1.06.098-1.617.297-.556.198-1.054.45-1.495.756-.464.397-.837.84-1.122 1.326-.284.487-.426.99-.426 1.512 0 .816.154 1.544.46 2.185.31.64.793 1.215 1.453 1.725.545.42 1.087.833 1.627 1.24.54.41 1.086.812 1.643 1.208l-.052-.05zm3.01 12.665l-2.593 2.533-2.452-2.397 2.574-2.55 2.47 2.415z")
							td(data-th="زرین‌کارت") ۰.۵٪
							td(data-th="حساب بانکی") ۱.۰٪
						tr
							td(data-th="نوع تسویه")
								| زرین‌گیت
								span(data-balloon="زرین‌گیت درگاه پرداخت مستقیم زرین‌پال است که بدون نمایش صفحه انتقال و تضمین زرین‌پال به درگاه بانکی انتقال می‌یابد." data-balloon-pos="left")
									svg.question(viewBox="0 0 48 48")
										path(d="M24 48c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24zm-.052-25.3c1.1 1.19 1.652 2.9 1.652 5.134v2.09h-2.54v-2.09c0-1.655-.654-3.05-1.964-4.183l-.887-.713c-.42-.34-.84-.685-1.262-1.037-.423-.35-.85-.69-1.278-1.02l.052.034C16.574 19.724 16 18.224 16 16.41c0-1.77.788-3.293 2.365-4.574v.017c.765-.612 1.57-1.074 2.418-1.385.846-.312 1.745-.468 2.695-.468 1.09 0 2.08.184 2.965.553.887.368 1.65.88 2.287 1.538.557.647 1 1.42 1.33 2.322.33.9.52 1.86.566 2.88h-2.54c-.103-3.195-1.64-4.793-4.608-4.793-.52 0-1.06.098-1.617.297-.556.198-1.054.45-1.495.756-.464.397-.837.84-1.122 1.326-.284.487-.426.99-.426 1.512 0 .816.154 1.544.46 2.185.31.64.793 1.215 1.453 1.725.545.42 1.087.833 1.627 1.24.54.41 1.086.812 1.643 1.208l-.052-.05zm3.01 12.665l-2.593 2.533-2.452-2.397 2.574-2.55 2.47 2.415z")
							td(data-th="زرین‌کارت") ۰.۵٪
							td(data-th="حساب بانکی") ۱.۰٪
						tr
							td(data-th="نوع تسویه")
								| آسان پرداخت
								span(data-balloon="سرویس آسان‌پرداخت یک راهکار برای فروش در شبکه‌های اجتماعی است که به شما این امکان را می‌دهد که در شبکه‌های اجتماعی درگاه پرداخت ایجاد نمایید." data-balloon-pos="left")
									svg.question(viewBox="0 0 48 48")
										path(d="M24 48c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24zm-.052-25.3c1.1 1.19 1.652 2.9 1.652 5.134v2.09h-2.54v-2.09c0-1.655-.654-3.05-1.964-4.183l-.887-.713c-.42-.34-.84-.685-1.262-1.037-.423-.35-.85-.69-1.278-1.02l.052.034C16.574 19.724 16 18.224 16 16.41c0-1.77.788-3.293 2.365-4.574v.017c.765-.612 1.57-1.074 2.418-1.385.846-.312 1.745-.468 2.695-.468 1.09 0 2.08.184 2.965.553.887.368 1.65.88 2.287 1.538.557.647 1 1.42 1.33 2.322.33.9.52 1.86.566 2.88h-2.54c-.103-3.195-1.64-4.793-4.608-4.793-.52 0-1.06.098-1.617.297-.556.198-1.054.45-1.495.756-.464.397-.837.84-1.122 1.326-.284.487-.426.99-.426 1.512 0 .816.154 1.544.46 2.185.31.64.793 1.215 1.453 1.725.545.42 1.087.833 1.627 1.24.54.41 1.086.812 1.643 1.208l-.052-.05zm3.01 12.665l-2.593 2.533-2.452-2.397 2.574-2.55 2.47 2.415z")

							td(data-th="زرین‌کارت") ۰.۵٪
							td(data-th="حساب بانکی") ۱.۰٪
						tr
							td(data-th="نوع تسویه")
								| سه شنبه های طلایی
								span(data-balloon="تسویه حساب تا سه شنبه هفته بعد ، فقط برای زرین کارت." data-balloon-pos="left")
									svg.question(viewBox="0 0 48 48")
										path(d="M24 48c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24zm-.052-25.3c1.1 1.19 1.652 2.9 1.652 5.134v2.09h-2.54v-2.09c0-1.655-.654-3.05-1.964-4.183l-.887-.713c-.42-.34-.84-.685-1.262-1.037-.423-.35-.85-.69-1.278-1.02l.052.034C16.574 19.724 16 18.224 16 16.41c0-1.77.788-3.293 2.365-4.574v.017c.765-.612 1.57-1.074 2.418-1.385.846-.312 1.745-.468 2.695-.468 1.09 0 2.08.184 2.965.553.887.368 1.65.88 2.287 1.538.557.647 1 1.42 1.33 2.322.33.9.52 1.86.566 2.88h-2.54c-.103-3.195-1.64-4.793-4.608-4.793-.52 0-1.06.098-1.617.297-.556.198-1.054.45-1.495.756-.464.397-.837.84-1.122 1.326-.284.487-.426.99-.426 1.512 0 .816.154 1.544.46 2.185.31.64.793 1.215 1.453 1.725.545.42 1.087.833 1.627 1.24.54.41 1.086.812 1.643 1.208l-.052-.05zm3.01 12.665l-2.593 2.533-2.452-2.397 2.574-2.55 2.47 2.415z")

							td(data-th="زرین‌کارت") ۰٪
							td(data-th="حساب بانکی") -
						//- tr
							td(data-th="نوع تسویه") خط اعتباری (؟ 6)
							td(data-th="زرین‌کارت") ۱٪+۲.۰٪+۲.۰٪
								span.star-blue *
							td(data-th="حساب بانکی") ۰.۵٪+۲.۰٪+۲.۰٪
								//- span.star-golden *

				p ما به کیفیت سرویس‌های خود باور داریم و مطمئن هستیم که تاثیر مثبت امکانات متفاوت زرین‌پال در پیشرفت و رونق کسب و کارتان در ماه اول برای شما مشخص می‌گردد. بدیهی است که برای موفقیت خانواده‌ی زرین‌پال، یعنی ما و شما، بهترین‌ها را بخواهیم. در این مدت اگر در پیاده سازی هر یک از سرویس‌های ما مشکلی داشتید با مطالعه‌ی مستندات آزمایشگاه زرین‌پال و یا با تماس با پشتیبانی تنهایتان نخواهیم گذاشت.
				p
					span.star-blue *
					|جدول فوق برای پذیرندگان فعلی زرین‌پال که کارمزد توافقی یا زرین‌کارت مشخص دارد اعمال نمی‌گردد و جدول کارمزدهای قبلی برای پذیرندگانی که به ترتیب ۱.۹٪ و ۲.۵٪ بودند به کارمزدهای جدید کاهش یافتند.
				p
					span.star-golden **
					|ما برای کسب و کار‌های بزرگ طرح‌های ویژه‌ای داریم. اگر شما هم تمایل به استفاده از امکانات نوآورانه زرین‌پال را دارید، برای اطلاعات بیشتر و استفاده از طرح‌های ویژه زرین‌پال [با ما تماس بگیرید].

				section.pricing--call-to-action
					span حساب کاربری و درگاه رایگان خود را دریافت کنید!
					a.btn.btn-green.large(href="/auth/register" target="_blank") ثبت‌نام
				//- p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
	//- include bootstrap/footer.jade
	include partials/footer
	<!-- /.ZarinPal -->
