extends partials/layout

block project-info
	- var pagename = 'قوانین اجرایی'
	- var single_fa = true

block content


	<!-- .ZarinPal -->
	include partials/header

	section.section--primary
		.container
			//- h4.section--primary--little تماسی از جنس زرین‌پال
			h1.section--primary--title قوانین اجرایی
			hr.fancy
			
			

	section.section
		.container
			.section--content
				//- h5 قوانين اجرائی زرين پال
				p.terms
					.terms-style
					|ويرايش قوانين زرين پال در تاريخ 1 فروردين 96 صورت پذيرفته و کليه کاربران تا 45 روز آينده موظف به مطالعه قوانين وبسايت ميباشند. بديهی است بعد از بازه زمانی مذکور، کليه کاربران موظف به پذيرش و رعايت قوانين جديد وبسايت ميباشند.
					سایر بندهای ذکرشده در این صفحات، برداشت نهایی از سیاست امنیت اطلاعات زرین‌پال است که سعی در احترام میان حقوق سایر کاربران زرین‌پال و سایت زرین‌پال و جلوگیری از سوءاستفاده‌های احتمالی و انجام کلاه‌برداری در بستر فراهم‌شده از سوی زرین‌پال، تنظیم و تدوین‌شده است. بر اساس سیاست امنیت اطلاعات زرین‌پال، چنانچه زرین‌پال تصمیم به اعمال تغییرات در سیاست امنیت اطلاعات و یا قوانین باشد، می‌بایست یک ماه قبل از اعمال تغییرات کاربران را از طریق نمایش هشدارها در وب‌سایت، مطلع سازد. لازم است کاربران نیز هرچند وقت یک‌بار قوانین را مطالعه کرده و از تغییرات احتمالی مطلع گردند.دسترسی به قوانین همواره از طریق آدرس www.zarinpal.com/terms.htmlامکان‌پذیر خواهد بود.
				p
					span.star-blue *
					| توجه: لطفاً تمامی صفحات را به‌طور کامل و دقیق مطالعه و امضا نمایید.
				
				div 
					.terms-style
					ol(start="1" type="1")
						li.terms
							|سایت زرین‌پال در ایران مدیریت‌شده و تابع قوانین جمهوری اسلامی ایران است. لذا چنانچه کاربری اقدام به انتقال وجه و یا خریدوفروش محصولات غیرقانونی کند اطلاعات وی به مراجع ذیصلاح ارجاع داده خواهد شد.
						li.terms
							|علاوه بر خريد و فروش موارد خلاف قوانين جمهوری اسلامی ايران در زرين پال، خريد و فروش پول، وجوه مالی و اوراق بهادار (مبادله پول با پول) نيز در زرين پال ممنوع ميباشد. به طور مثال دريافت وجه ريالی و يا تومانی درون زرين پال و پرداخت دلاری از طريق پی پال در زرين پال ممنوع ميباشد و در صورت مشاهده، حساب کاربری کاربران خاطی مسدود خواهد شد.
						li.terms
							|استفاده از سرويس زرين پال در سايت هايی که دارای مضامين غیر قانونی، مضر، تهدید کننده، توهین آمیز، زیان آور، غیر اخلاقی، افترا آمیز و مبتذل باشد و همینطور سايتهايی که به نژاد ، گروه و یا دسته خاصی از مردم توهین کرده باشند مجاز نميباشد و در صورت مشاهده، شناسه کاربری خاطی، توقيف خواهد شد.
						li.terms
							|استفاده از سرويس زرين پال به منظور خريد و فروش غير قانونی محصولات دارای حق چاپ و نشر (copyright) مجاز نميباشد و در صورت مشاهده و يا گزارش، شناسه کاربری خاطی، متوقف خواهد شد.
						li.terms
							|استفاده از سرويس زرين پال، در سايت های حراج و مزايده ممنوع ميباشد.
						li.terms
							|استفاده از سرويس زرين پال، در سايت های تبليغات کليکی سرمايه گذاری که با عنوان باکس در اينترنت شناخته شده هستند ممنوع ميباشد. (اين ماده قانونی از تاريخ ١٤ فرودين ماه، بنابر ماده ٢١ قوانين جرائم رايانه ای (بند ه - ٦) ابلاغ شده و حداکثر تا ٤٥ روز بعد از ابلاغ سايت های فعال در اين زمينه ميبايست نسبت به حذف درگاه زرين پال از سايت های خود اقدام کنند.)
						li.terms
							|استفاده از سرويس زرين پال، در سايت های فروشگاهی که اقدام به فروش فيلم و سريال ميکنند و در سامانه ساماندهی نيز ثبت نشده اند غير مجاز است و در صورت مشاهده، حساب کاربری خاطی، توقيف خواهد شد.
						li.terms
							|استفاده از سرويس زرين پال، برای موارد خريد و فروش کالاهای زير، مجاز نميباشد:
							ol(start="1" type="1")
								li.terms تمامی موارد منع شده در قانون جرائم رایانه‌ای کشور
								li.terms اموال غیرمنقول
								li.terms کارت‌های بخت‌آزمایی، قمار و شرط‌بندی
								li.terms vpn و موارد عبور از فیلترینگ جمهوری اسلامی ایران
								li.terms هرگونه آموزش هک و نفوذ و دسترسی غیرمجاز
								li.terms کالاهایی که به نحوی حقوق ناشر را رعایت نمی‌کنند (خلاف قوانین کپی‌رایت)
								li.terms کالاهایی که به تأیید وزارت فرهنگ و ارشاد اسلامی جمهوری اسلامی ایران نرسیده باشند
								li.terms سیگار و سایر مواد دخانی
								li.terms
									| مواد مخدر و روان‌گردان
								li.terms
									|مشروبات الکلی و نوشیدنی‌های سکرآور
								li.terms
									| انواع سلاح‌های گرم و سرد
								li.terms
									| کالاهایی که مبادله آن‌ها دارای مقررات و نظامات خاص است
								li.terms
									| کالاهایی که برای مصرف‌کننده خطر جدی در پی دارد 
								li.terms
									| کالاهایی که مبادله آن‌ها طبق قانون ممنوع است
								li.terms
									|کالاهایی که مبادله آن‌ها مغایر با آداب اسلامی است
								li.terms
									| کالاهایی که انجام فعالیت‌های غیرقانونی را به نحوی تشویق یا تسهیل می‌کنند
								li.terms
									| کالاهای قاچاق
								li.terms
										| کالاهای به‌دست‌آمده از ارتکاب جرم یا نقض مقررات کشوری و لشکری
						li.terms
							|انتشار ویروس‌های اینترنتی به‌منظور سوءاستفاده از حساب کاربران زرین‌پال مجاز نیست و در صورت مشاهده با شناسه کاربر خاطی برخورد شده و همچنین موضوع از طریق مراجع قانونی پیگیری خواهد شد.
						li.terms
							|جمع‌آوری و ذخیره اطلاعات شخصی درباره سایر کاربران برای اهداف تجاری از طریق زرین‌پال ممنوع است و در صورت مشاهده با کاربر خاطی برخورد خواهد شد.
						li.terms
							| پس از عضویت اولیه، زرین‌پال اطلاعات واردشده را بررسی و به‌صورت مرحله‌به‌مرحله سطح تأیید کاربر را افزایش خواهد داد برای انجام عملیات تأیید، زرین‌پال با تلفن واردشده تماس می‌گیرد، آدرس را از طریق ارسال کد 10 رقمی، تأیید می‌کند و کپی شناسنامه و کارت ملی کاربر را نیز درخواست می‌کند.
						li.terms
							|برای افزایش سطح تأیید به طلائی لازم است 37 بند این قوانین اجرائی زرین‌پال مطالعه شده و به آدرس پستی شرکت سامان سیستم پرداز کیش ارسال شود
						li.terms
							|افراد زیر سن قانونی (زیر 18 سال) مجاز به عضویت در سایت زرین‌پال و استفاده از خدمات زرین‌پال نمی‌باشند.
						li.terms
							|استفاده از چند نام کاربری برای یک شخص در زرین‌پال ممنوع بوده و در صورت مشاهده موارد تخلف، سایر شناسه‌های کاربری مربوط به شخص خاطی، توقیف خواهد شد.
						li.terms
							|بر طبق سیاست امنیت اطلاعات، زرین‌پال متعهد می‌شود که از اطلاعات خصوصی کاربران محافظت کند و این اطلاعات را مخفیانه نزد خود نگه دارد و برای سایر اشخاص فاش نکند. البته به‌استثنای مواردی که به‌موجب قانون مجبور به انجام این کار باشد.
						li.terms
							|زرین‌پال هیچ‌گاه از کاربران خود، اطلاعاتی را از طریق ایمیل درخواست نخواهد کرد. سایر درخواست‌های زرین‌پال از طریق تیکت ها و درون وب‌سایت زرین‌پال انجام می‌شود و از ایمیل تنها به‌منظور اطلاع‌رسانی و یا درخواست مشاهده لینک‌هایی درون وب‌سایت زرین‌پال استفاده خواهد شد.
						li.terms
							|زرین‌پال از کاربران خود می‌خواهد، حتماً شناسه کاربری و کلمه عبور خود را در صفحاتی که دارای آدرس زرین‌پال دات کام (zarinpal.com) است، وارد کنند. اطلاعات این صفحات، توسط گواهینامه ssl محافظت می‌شوند و بنابراین برای امنیت بیشتر صفحات با پیشوند https در دسترس کاربران قرار می‌گیرند. بدیهی است در صورت واردکردن اطلاعات در آدرس‌هایی به‌جز آدرس zarinpal.com مسئولیت و عواقب از دست رفتن اطلاعات و یا سرقت اطلاعات با کاربر موردنظر است.
						li.terms
							|به سبب جلوگیری از کلاه بردای، هر کاربر در زرین‌پال امکان واردکردن شماره‌حساب‌های خود و شماره کارت‌های خود را دارد. کاربران می‌بایست تنها شماره‌حساب‌هایی که به نام آن‌ها است را وارد کنند و زرین‌پال هیچ مسئولیتی در مورد حساب‌ها و کارت‌های متصل بانام افراد دیگر در حساب شخص دیگر نخواهد داشت. برای تأیید حساب واردشده، زرین‌پال کپی کارت را از کاربر دریافت و در پایگاه داده‌های خود آرشیو می‌کند.
						li.terms
							|هیچ تراکنشی نه به‌صورت ورودی و نه به‌صورت خروجی (به‌جز دروازه‌های آنلاین) از حساب‌ها و کارت‌های دارای نام متفاوت بانام کاربر عضو موردپذیرش نیست و زرین‌پال وجه ورودی را (در صورت انتقال از کارت یا حساب با نام شخصی به‌جز شخص واردکننده وجه) به‌حساب مبدأ برگشت خواهد زد. به‌طور مثال اگر کاربری با نام X در زرین‌پال عضو شده و با کارت فرد دیگری به نام Y وجه را به در زرین‌پال وارد کند، زرین‌پال وجه را با کسر کارمزد بانکی احتمالی به‌حساب Y برگشت خواهد زد. در مورد وجه خروجی نیز از کاربر خواسته می‌شود تا حساب‌ها و کارت‌های به نام خود را وارد کرده و از واردکردن اطلاعات حساب‌های متفرقه، خودداری کند.
						li.terms
							|انتقال وجه به‌صورت داخلی در وب‌سایت شامل هیچ هزینه اعم از کارمزد یا موارد مشابه نیست. همچنین ورود وجه از طریق هر درگاهی در زرین‌پال، شامل هیچ هزینه اضافی نبوده و وجه انتقالی عیناً به‌حساب مقصد، منتقل خواهد شد.
						li.terms
							|در حال حاضر کارمزد کسر شده برای تراکنش‌های خروجی از زرین‌پال (برای عموم کاربران) معادل 1% از رقم خروجی است. زرین‌پال این اجازه را دارد تا با کاربران خاص قراردادهای ویژه‌ای را امضا کرده و این رقم را افزایش یا کاهش دهد. به‌طورمعمول زرین‌پال برای موسسه‌های خیریه و قرض‌الحسنه این رقم را کاهش می‌دهد. ضمناً چنانچه زرین‌پال قصد اعمال تغییر در این رقم را برای عموم کاربران داشته باشد می‌بایست طبق سیاست امنیت اطلاعات خود، از یک ماه قبل از اعمال تغییرات، کاربران خود را از این تصمیم، مطلع سازد.
						li.terms
							|	برای کاربران سطح تأیید نقره‌ای، از زمان درخواست خروج وجه تا زمان واریز به‌حساب ممکن است زمانی بین ۱ تا ۴ روز کاری سپری شود. این زمان به سبب اطمینان از صحت تراکنش‌های ورودی و بر طبق سیاست امنیت اطلاعات زرین‌پال است. همچنین برای کاربران سطح تأیید طلائی این زمان مابین ۱ تا ۴۸ ساعت کاری خواهد بود.
						li.terms
							|به سبب تعامل با بانک‌ها، سایر تراکنش‌های ورودی و خروجی زرین‌پال بر اساس قوانین داخلی بانک‌های جمهوری اسلامی و شبکه شتاب انجام می‌شود. یکی از قوانین مهم در این شبکه امکان بازگردانی وجه انتقالی از این شبکه تا پایان آن روز است که تراکنش‌های زرین‌پال نیز شامل این قانون می‌باشند. به سبب اطمینان بیشتر و بر اساس قانون ذکرشده فوق، زرین‌پال این اجازه را خواهد داشت که حداکثر تا 24 ساعت از انجام تراکنش (چه تراکنش‌های ورودی، خروجی و داخلی) وجه را به‌حساب مبدأ برگشت بزند. البته در این شرایط لازم است زرین‌پال اطلاعات برگشتی را به صاحب حساب مقصد ارائه کند.
						li.terms
							|سایت‌هایی که از سرویس زرین‌پال استفاده می‌کنند، دارای سیاست امنیت اطلاعات و قوانین خاص خود می‌باشند. زرین‌پال از کاربران خود می‌خواهد قبل از هرگونه خرید از این وب‌سایت‌ها قوانین و سیاست امنیت اطلاعات آن‌ها را مطالعه نموده و سپس نسبت به خرید اقدام کنند. چراکه در صورت سوءاستفاده‌های احتمالی، مسئولیتی بر عهده زرین‌پال نیست
						li.terms
							|اگرچه سیاست امنیت اطلاعات زرین‌پال بر مبنای جلوگیری از سوءاستفاده و کلاه‌برداری تدوین‌شده است و فعالیت سایر کاربران بر این مبنا ارزیابی می‌شود، اما زرین‌پال هیچ مسئولیتی در قبال کلاه‌برداری‌های انجام‌شده، توسط کاربران ندارد. چنانچه موردی در این مبنا به زرین‌پال گزارش شود (به‌طور مثال انتقال وجه به فروشنده و عدم تحویل کالا از سوی فروشنده) زرین‌پال محیط گفتگوی دوطرفه‌ای تحت نظارت خود ایجاد خواهد کرد تا ابتدا مورد از طریق گفتگو حل شود. چنانچه بعد از انجام گفتگو اختلاف میان کاربران مرتفع نگردد امکان پیگیری از طریق مراجع قانونی برای طرفین وجود دارد و در صورت درخواست مراجع ذیصلاح اطلاعات طرفین در اختیار آن‌ها قرار داده خواهد شد.
						li.terms
							|چنانچه در مورد وجه منتقل‌شده اختلاف به وجود آید (مثلاً کاربری وجهی را به‌حساب فروشنده واریز کرده اما پس از گذشت زمان موردتوافق) هنوز کالا یا سرویسی تحویل نگرفته باشد و زرین‌پال محیط گفتگویی میان طرفین باز کند وجه در حالت دارای اختلاف مالی قرار می‌گیرد و امکان انجام هیچ عملیاتی روی رقم موردنظر از سوی طرفین وجود نخواهد داشت. همچنین سایر تراکنش‌هایی که از وجه موردنظر، در سرویس زرین‌پال انجام‌شده باشد به حالت معلق (دارای اختلاف) تبدیل خواهد شد.
						li.terms
							|	پس از ایجاد محیط گفتگوی دوطرفه میان کاربران دارای اختلاف، زرین‌پال بر این گفتگو نظارت کرده و در پایان به صلاحدید خود تراکنش را تأیید یا رد می‌کند.
						li.terms
							|زرین‌پال به‌شدت با اسپم مخالفت می‌کند و در صورت مشاهده اسپم از سوی کاربران خود، حساب کاربر خاطی را مسدود می‌کند. مواردی که از این نظر برای زرین‌پال تخلف شناخته می‌شوند عبارت‌اند از ارسال لینک‌های پرداخت زرین‌پال به‌صورت اسپم.
						li.terms
							|هرگونه سوءاستفاده از سرویس زرین‌پال و یا استفاده ماشینی از سرویس زرین‌پال، بدون هماهنگی با این وب‌سایت ممنوع بوده و در صورت مشاهده با کاربر خاطی، برخورد خواهد شد.
						li.terms
							|هرگونه فعاليت تبليغاتی بر عليه زرين پال ممنوع بوده و در صورت مشاهده حساب کاربر خاطی توقيف خواهد شد. بديهی است زرين پال در صورت توقيف حساب کاربری، زرين پال موظف به تسويه حساب تراکنش های موجود با کاربر ميباشد.
						li.terms
							|کاربران زرین‌پال می‌بایست هرگونه تغییر تلفن و آدرس خود را از طریق تیکت به اطلاع سایت برسانند. بدیهی است در صورت مشاهده اشکال در آدرس و تلفن، حساب کاربری خاطی، توقیف خواهد شد
						li.terms
							|هیچ کاربری حق واگذاری شناسه کاربری خود به فرد یا شرکت دیگر را ندارد. بدیهی است در صورت تخلف، مسئولیت و عواقب آن بر عهده اطلاعات فرد یا شرکت ثبت‌شده در زرین‌پال است.
						li.terms
							|کاربر زرین‌پال که به‌عنوان فروشنده فعالیت می‌کند، موظف است نسبت به ارسال کالا و یا ارائه خدمات فروخته‌شده از طریق اینترنت رسید اخذ نماید و پایگاه داده جداگانه‌ای جهت نگهداری تأییدیه مشتری، در خصوص کالا یا خدمات تحویل داده‌شده داشته باشد. بدیهی است که هرگونه مسئولیت، در زمینه کیفیت یا کمیت کالای ارائه‌شده و نیز ارسال آن بر عهده فروشنده است و در صورت اعلام مشتری مبنی بر عدم دریافت کالا، فروشنده موظف به ارائه رسید دریافت شده از سوی مشتری است.
						li.terms
							|فروشنده موظف است اطلاعات کامل خریدار را از مشتری دریافت کند. گاهی اوقات ممکن است، زرین‌پال به‌منظور تطبیق اطلاعات فروش، با فروشنده و خریدار به‌صورت جداگانه تماس گرفته و اطلاعات سفارش و خرید انجام‌شده را دریافت کند. این کار به‌منظور جلوگیری از سوءاستفاده و کلاه‌برداری در زرین‌پال انجام می‌شود و طرفین ملزم به در اختیار گذاشتن اطلاعات به زرین‌پال می‌باشند
						li.terms
							|فروشنده موظف است شماره رسید دیجیتالی تأییدشده از سوی زرین‌پال را به نحوی واضح و آشکار روی سایت خود به خریدار نمایش دهد. البته چنانچه پرداخت‌کننده نیز عضو زرین‌پال باشد، امکان مشاهده جزئیات تراکنش وی، درون کنترل پنل شخصی خود نیز وجود دارد.
						li.terms
							|هر نوع ضرر و زیانی که به هر نحو از سوی فروشنده به خریدار و یا از سوی خریدار به فروشنده وارد شود می‌بایست مابین آن‌ها برطرف شود و زرین‌پال امکان گفتگوی دوطرفه به‌منظور حل مشکلات را از طریق بخش تیکت فراهم می‌کند و در صورت عدم حل مشکل، امکان پیگیری قضایی برای طرفین وجود دارد. همچنین چنانچه ضرر و زیانی از سوی هر یک از طرفین به زرین‌پال وارد شود، زیان دهنده موظف به جبران خسارت است.
						li.terms
							|زرين پال ميتواند در هر زمان که به فعاليت يا اطلاعات هويتی کاربری مشکوک شد، حساب کاربر را توقيف و مدارک هويتی و شناسائی بيشتر را از کاربر درخواست کند. پس از ارسال مدارک درخواست شده توسط زرين پال، زرين پال ملزم به آزاد سازی حساب کاربر و اجازه دسترسی به فعاليت در زرين پال نمايد.
						li.terms
							|کاربران می‌توانند در صورت عدم تمایل به فعالیت، حساب کاربری خود در زرین‌پال را بنا به درخواست خود از طریق تیکت، متوقف کنند. زرین‌پال کاربر موردنظر را توقیف می‌کند اما از پایگاه داده‌های خود حذف نمی‌کند. این کار به‌منظور نگهداری جزئیات کاربران و تراکنش‌های آن‌ها، انجام می‌شود.
						li.terms
							|زرین‌پال اجازه دارد، کاربرانی که خلاف قوانین فوق را اجرا می‌کنند متوقف کرده و تصمیم‌گیری نهائی در مورد حساب و موجودی آن را به‌صراحت به کاربر متخلف اعلام نماید.
						li.terms
							|زرین‌پال از کاربران خود می‌خواهد، چنانچه قوانین فوق را قبول دارید نسبت به عضویت در سایت اقدام کنید و چنانچه مایل به ادامه فعالیت نیستید درخواست توقیف شناسه کاربری خود را از طریق بخش تیکت ها اعلام کنید. چنانچه در رابطه با قوانین سایت سؤالی دارید از طریق بخش «ارتباط با ما» تماس بگیرید و یا با شماره تلفن 88636000_021 ارتباط برقرار کنید و یا اینکه از طریق آدرس: تهران - يوسف آباد _ کوچه 20 _ پلاک 61 _ طبقه 2 و با کد پستی: 1431965371 با زرین‌پال مکاتبه کنید.
				

	include partials/footer
	<!-- /.ZarinPal -->
