extends ../partials/layout

block project-info
	- var pagename = 'ZarinPal Mobile Software'
	- var lang = 'en'
	- var mobile_en = true
	- var mobile_android_en = true
block content


	<!-- .ZarinPal -->
	include ../partials/header



	include ../partials/footer
	<!-- /.ZarinPal -->
