extends ../partials/layout

block project-info
	- var pagename = 'Posts'
	- var single_en = true
	- var lang = 'en'
block content


	<!-- .ZarinPal -->
	include ../partials/header

	section.section--primary
		.container
			h1.section--primary--title Information security policy
			hr.fancy

	section.section
		.container
			.section--content
				h5 Overview
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, esse veniam, possimus velit tempora eligendi quia deleniti. Voluptatem fuga, optio accusamus iusto temporibus autem vel, illo alias dolorem voluptas, enim.
					br
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					br
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					br
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					br
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					br
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					br
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				hr

				h5 Note the information.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aperiam voluptate, amet autem repellat vitae assumenda doloremque possimus totam vero sit, nostrum, tempora odit quo nam velit nisi repudiandae sapiente.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				
				hr
				h5 Special Note to Kids
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde repellat magnam tenetur odio suscipit dolores eaque repudiandae, voluptatum amet, ad odit obcaecati explicabo ex quod totam! At similique, exercitationem repellendus.
				
				hr
				h5 The information we collect from you
				h6 required information
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quisquam, dolores. Voluptatem modi debitis nobis, nihil laboriosam explicabo ipsam blanditiis earum eveniet, odit magnam expedita provident. Exercitationem est commodi minima?
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo cumque quos rerum, eos consequatur soluta optio! Sit id natus, facere qui dicta accusantium minima sed ab ullam itaque officiis quas!
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aperiam voluptate, amet autem repellat vitae assumenda doloremque possimus totam vero sit, nostrum, tempora odit quo nam velit nisi repudiandae sapiente.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				h6 Information Transactions
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quo id magnam sint ducimus inventore illo, voluptates excepturi similique quod a rerum consequatur itaque aliquam, totam est. Voluptates, aspernatur, ut.
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo voluptate rem enim, qui doloribus eos recusandae eaque numquam totam sapiente! Expedita officia, et, libero earum similique repellendus fugit quae ipsum!
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, adipisci quibusdam! Laborum laboriosam, perferendis, nisi unde pariatur nobis dolorem iusto perspiciatis sint harum commodi fugit labore hic consequuntur ad quas.
				h6 Information Transactions
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quo id magnam sint ducimus inventore illo, voluptates excepturi similique quod a rerum consequatur itaque aliquam, totam est. Voluptates, aspernatur, ut.
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo voluptate rem enim, qui doloribus eos recusandae eaque numquam totam sapiente! Expedita officia, et, libero earum similique repellendus fugit quae ipsum!
				h6 Information Transactions
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quo id magnam sint ducimus inventore illo, voluptates excepturi similique quod a rerum consequatur itaque aliquam, totam est. Voluptates, aspernatur, ut.
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo voluptate rem enim, qui doloribus eos recusandae eaque numquam totam sapiente! Expedita officia, et, libero earum similique repellendus fugit quae ipsum!


	include ../partials/footer
	<!-- /.ZarinPal -->
