extends ../partials/layout

block project-info
	- var pagename = 'Posts'
	- var single_en = true
	- var lang = 'en'

block content


	<!-- .ZarinPal -->
	include ../partials/header

	section.section--primary
		.container
			h1.section--primary--title Terms of Use
			hr.fancy
			
			

	section.section
		.container
			p.terms-en
				.terms-style
				|The terms of use mentioned in this page Is the final concept set and edited from ZarinPal’s privacy policy which tries to respect the rights between ZarinPal and its users and prevent possible abuse or fraud in the context provided by Zarinpal. Based on the ZarinPal’s privacy policy, if ZarinPal decides to change the privacy policy or terms of use, it should announce the changes by website notifications a month sooner. Users should study the terms of use of ZarinPal from time to time to be informed of possible changes. Terms of use are always available on
				a(href="")  www.zarinpal.com/terms.html.
			//- p
				//- span.star-blue *
				//- | توجه: لطفاً تمامی صفحات را به‌طور کامل و دقیق مطالعه و امضا نمایید.
			
			div 
				//- .terms-style
				ol
					li.terms-en
						|ZarinPal is managed in Iran and under the rules of Islamic Republic of Iran. If ZarinPal team find atrespass user, they will suspend his/her user account and inform the competent judicial authorities about the user’s information.
					li.terms-en
						|In Addition to buying and selling products and services which are against the rules of Islamic Republic of Iran, buying and selling money, funds and securities (exchanging money) is also forbidden on Zarinpal. For example, receiving money in Rials or Tomans and paying in Dollars on PayPal is forbidden, and if found, the transgressive user’s account will be blocked.
					li.terms-en
						|Using ZarinPal gateway on websites with illegal, harmful, threatening, offensive, immoral, slanderous and sexual content and also websites which insult the race or certain group of people is forbidden, and if found, the transgressive user’s account will be blocked.
					li.terms-en
						|Using ZarinPal gateway for buying and selling products with copyright is prohibited and if found, the transgressive user’s account will be blocked.
					li.terms-en
						|Using ZarinPal gateway on auction websites is forbidden.
					li.terms-en
						|Using ZarinPal on Box websites is forbidden. (Based on the law article 21 of cybercrime laws (clause 5-6) communicated from March 2012. Websites that work in this field should remove ZarinPal gateway from their sites up to 45 days from communication).
					li.terms-en
						|Using ZarinPal gateway on video and series selling websites that are not registered on Samandehi website is forbidden and if found, the transgressive user’s account will be blocked.
					li.terms-en
						|Using ZarinPal gateway for buying and selling the following products and services is forbidden:
						ol
							li.terms-en All prohibitions in Iran’s cybercrime laws.
							li.terms-en Immovable property.
							li.terms-en Lottery, gamble and betting cards.
							li.terms-en VPNs and softwares to bypass Iran’s internet filtering.
							li.terms-en Any training for hacking or unauthorized accesses.
							li.terms-en Products that do not follow rights of the publisher (copyright).
							li.terms-en Products that are not approved by the Islamic Republic of Iran’s Ministry of Culture and Islamic Guidance.
							li.terms-en Cigarettes and other tobacco products.
							li.terms-en Drugs and Psychotropic.
							li.terms-en Alcoholic drinks.
							li.terms-en Types of cold and warm weapon.
							li.terms-en Products which need special rules and regulations for exchanging.
							li.terms-en Products posing a serious risk to their consumers.
							li.terms-en Products that are illegal to be exchanged.
							li.terms-en Products which are opposed to Islamic principles.
							li.terms-en Products that somehow encourage or facilitate illegal activities.
							li.terms-en Smuggled goods.
							li.terms-en Goods obtained through crime or violations of civil and military regulations.
					li.terms-en
						|Spreading online viruses to abuse ZarinPal’s user accounts is forbidden and if found, the transgressive user’s account will be blocked and the case will be pursued through the legal authorities.
					li.terms-en
						|Collect and store personal data about other users from ZarinPal for commercial purposes is forbidden and if found, the transgressive user’s account will be blocked.
					li.terms-en
						|After primary membership, ZarinPal team checks the added information and increases the level of user’s authentication step by step. For verification, ZarinPal calls the added phone number, verifies the address with sending 10-digit zip code and asks for a copy of user’s ID card.
					li.terms-en
						|To increase the user’s authentication level to gold, you should study and sign all pages of ZarinPal’s terms of use and send to the postal address of ZarinPal.
					li.terms-en
						|Users under the legal age (18 years old) are not allowed to become a member of ZarinPal and use its services.
					li.terms-en
						|Using multiple usernames for a single person is forbidden on ZarinPal and if found, all the transgressive user’s accounts will be blocked.
					li.terms-en
						|According to the privacy policy, ZarinPal is committed to protect users’ private information and keep them secretly, and do not reveal the information to the third parties unless under the law force.
					li.terms-en
						|ZarinPal never asks for information from users through email. Requests are sent through tickets on ZarinPal and email is just used to inform the client or ask the client to view a link of ZarinPal.
					li.terms-en
						|ZarinPal strictly asks its users to enter their username and password in the pages of ZarinPal.com. Information of these pages is protected by SSL protocol and the pages are available to users with the https prefix. Obviously, if the user enters his/her information on any domains except zarinpal.com, consequences of data loss or theft is up to him/her.
					li.terms-en
						|To prevent fraud, each user can just add his/her own bank account/card numbers that are in their names to ZarinPal and we take no responsibility for bank accounts and cards connected to other people’s names. To verify the card, ZarinPal receives an image of the card from user and archives it in its database.
					li.terms-en
						|No incoming or outgoing transaction (except from online gateways) from bank accounts and cards with a different name from the member’s name is allowed and ZarinPal will refund the incoming money to the source bank account (if the money is transferred from a bank account or card in a different name from the member’s name). For example, if a user with full name X is a member of ZarinPal and adds money to ZarinPal with another else’s card with the full name Y, ZarinPal will return the money to the person with name Y’s account by deducting possible bank fees. For outgoing money, Zarinpal asks the user to add bank accounts and cards in his/her own name and avoid adding accounts of other people.
					li.terms-en
						|Transfering money on ZarinPal does not include any costs such as fees or similar costs. Also adding money through any gateways on ZarinPal does not include any extra costs and the transferred money will exactly be added to the destination account.
					li.terms-en
						|The deducted fee for outgoing transactions from Zarinpal (for all the users) is 1% of outgoing money right now. ZarinPal has the permission to sign special contracts with special users to increase or decrease this percentage. Usually, ZarinPal decreases this amount for charities or loan institutions. If ZarinPal decides to change this percentage for all the users, it should inform the users one month earlier according to the privacy policy.
					li.terms-en
						|For silver users, it takes 3-4 working days from asking for money withdrawal to deposit the money.This period of time is due to ensure the accuracy of incoming transactions and is according to privacy policy of ZarinPal. This time is 8-48 working hours for gold users.
					li.terms-en
						|In order to interact with other banks, incoming and outgoing transactions of ZarinPal are done based on the rules of Islamic Republic of Iran banks and Shetab network. One of the most important rules of this network is the possibility to refund the transferred money till the end of the day. ZarinPal transactions are included in this rule as well. Based on the mentioned rule and to be more trustworthy, ZarinPal is allowed to refund the money to the source account in 24 hours of transaction (any incoming, outgoing or internal transactions). Of course, ZarinPal should send the refund information to the destination account in such conditions.
					li.terms-en
						|ZarinPal merchants have their own privacy policy and terms of use on their websites. ZarinPal asks its users to study the privacy policy and terms of use of the website they are going to shop from before any purchase. In this case if any abuse occures, ZarinPal is not responsible about that.
					li.terms-en
						|Although ZarinPal’s privacy policy is generated to prevent abuse and fraud, and activity of users is assessed on this basis, but ZarinPal has no responsibility about any fraud or abuse done by users. If such a case is reported (such as receiving money by seller but not delivering the product), ZarinPal will create a mutual dialogue environment under its supervision to solve the problem. If the problem is not resolved after the discussion between users, it’s possible to follow-up the case from legal authorities for both parties and if the competent authority asks for the both party’s information, ZarinPal will do so.
					li.terms-en
						|If there is a dispute about the transferred money (for example, a user has transferred an amount of money to a seller but has not received the product or service in the agreed time), ZarinPal will open a mutual dialogue environment and the money will be placed in a financial dispute status and none of the sides can make any changes to the money. Also Other transactions done from this amount of money in ZarinPal will become suspended (disputable).
					li.terms-en
						|After creating a mutual dialogue environment for arguing users, ZarinPal supervises the dialogue and decides whether the transaction should be approved or rejected.
					li.terms-en
						|ZarinPal is strongly against spamming and if sees spamming from its users, blocks the transgressive user’s account. An example of such a trespass is sending ZarinPal payment links as spam.
					li.terms-en
						|Any abuse or machine use from ZarinPal services without coordination with ZarinPal is forbidden and if found, the transgressive user will be treated.
					li.terms-en
						|Zarinpal users should inform any changes in their address or phone number by tickets on the website. Obviously, if we see any issues in address or phone number, the transgressive user’s account will be suspended.
					li.terms-en
						|Assigning a user’s account to another company or person is forbidden and in case of trespass, the responsibility and consequences of it is on registered ZarinPal user.
					li.terms-en
						|The ZarinPal user who is a seller should receive receipts from his/her clients for products/services sold online and should have a separate database for clients’ confirmations about delivered products/services. Obviously, the seller is responsible for quality, quantity and delivering the products/services and if the customer claims he/she has not received it, the seller should expose the receipt.
					li.terms-en
						|Seller should get full information of the buyer. Sometimes ZarinPal may contact seller and buyer individually to adapt the information of the sale. We do this to prevent possible abuse or fraud and the both sides should share the information with ZarinPal.
					li.terms-en
						|Seller should display digital receipt number clearly on his/her site to buyer. If the buyer is also a member of ZarinPal, the information of transaction is available on his/her control panel on ZarinPal.
					li.terms-en
						|Any harm or loss posed to the buyer from seller or vice versa should be resolved between the two sides. ZarinPal provides a mutual dialogue environment by tickets to solve the problem and if it is not resolved, both sides can prosecute. If a harm or loss is opposed to ZarinPal from seller or buyer, the guilty side is responsible for the damage.
					li.terms-en
						|Anyone who wishes not to be a member of ZarinPal anymore, can open a ticket on ZarinPal and ask to disable his/her user account. ZarinPal will suspend the user’s account but not delete it completely to keep the user’s data and transactions.
					li.terms-en
						|ZarinPal is allowed to suspend the transgressive user’s account and announce the final decision about the user’s account explicitly.
					li.terms-en
						|ZarinPal asks its users to sign up on the site if they agree with the above rules and if are not willing to have activity on ZarinPal anymore, they can ask the ZarinPal team to suspend their user accounts by opening a ticket. If you had any questions regarding ZarinPal’s terms of use, please call +98-2188636000 or contact us via the following mailing address: Unit 2, No. 61, 20th Avenue, Yousef Abad, Tehran, Iran. Zip Code: 1431956371
			


				

	include ../partials/footer
	<!-- /.ZarinPal -->
